[2014-03-15 10:28] OkkeKlein opened #1 "kibana-int id inconsistency"
Schema uses "id" and solrconfig has "_id" as default search field in select en query requesthandlers.

[2014-03-17 06:01] athana commented on #1
Fixed (commit 9a7405f). Change solrconfig to use "id" as default search field.

[2014-03-17 06:01] #1 closed, assigned to nobody

[2014-03-28 20:59] knewter opened #2 "Panels from kibana"
There are several panels from kibana that are missing (map, bettermap, some features in the histogram, etc).  Is it trivial to add them into banana?  I'm very familiar with both angularjs and solr, so hoping it's not a big deal, but before I dug in I thought I'd ask here.

[2014-03-28 21:35] ravikmurthy commented on #2
Josh,

After a few iterations, we have  worked out what we need to do while  modifying a kibana panel to work with Solr. We have not yet tried creating a brand new module.

If you know angular and solr, it should not be very difficult to do the US map. I have not looked hard at the bettermap as yet.

We have added some of the missing features in the histogram (see latest check in on develop branch

[2014-04-01 23:55] knewter commented on #2
I don't have a use case for the US map at present, and so am ignoring it.  I'll close this issue, but I'm opening another with some potential style updates

[2014-04-01 23:57] knewter opened #3 "Style tweaks"
I've made a few modifications to make the interface look more pleasant.  This is, of course, a very aesthetic concern, and as such is open to interpretation.  It also doesn't look amazing when you switch to the light theme.  However, in the interest of sharing back, I thought it worthwhile to show it to you guys.  If you'd like, I'd be glad to sign a CLA to get them upstreamed.  I'm attaching a sc

[2014-04-26 07:25] athana commented on #2
Josh, I plan on writing a HOWTO article on developing a custom module to Banana. Hope that it'll be helpful for you in case you want to write your own panels.

[2014-05-20 19:43] #2 closed, assigned to nobody

[2014-06-03 03:58] #3 closed, assigned to nobody

[2014-07-02 11:25] Brainshack opened #15 "Saving Dashboard to SOLR does not work"
Hello,

I installed Bana on my Solr install using the .war file. Banana itself works great, but when I try to save the dashboard to the solr instance, it wont work, because it will try to call localhost:8983 which is not the hostname that I setup. I tried changing the host in config.js to no effect. It sill tried calling localhost:8983, but only when i try to save the dashboard (e.g. calling the b

[2014-07-02 11:57] ravikmurthy commented on #15
Christian:

The server specified in config.js is used to specify where the banana-int collection  (or user-renamed dashboard collection)  lives. I want to confirm you have edited this config.js file to specify the server you are using. If you are still getting the error:
1.  A possibility is that you need to refresh the app; you may need to clear the browser history because it caches sometime. Ple

[2014-07-02 12:14] htaghizadeh opened #16 "Support the timezones!"
The search result (and time picker, ...) table shows event @timestamp in UTC time, is there a way to convert this to local time using local timezone?
Are there any plans to support @timestamp in UTC time?

Awaiting your reply,

Thanks
Mr.HTZ

[2014-07-02 12:37] Brainshack commented on #15
Hello,

all is setup as it should be. The dash boards work as intended and can load the data from my solr instance. The only thing not working is saving them to the solr server (using the save function in the top right corner. Config.js and my dashboard both point towards the right solr instance.

Here is the error I get:

OPTIONS http://localhost:8983/solr/banana-int/update?commit=true net::ERR_C

[2014-07-07 06:00] Avneets opened #19 "facing an Issur Oops! undefined field: "event_timestamp""
Hi i am new to Solr Banana can you please tell me what this error is :-:
 Oops! undefined field: "event_timestamp".

[2014-07-07 13:20] manalisha commented on #19
Hi,
You have to edit the panel and change the time field according to your dataset.

[2014-07-08 06:10] Avneets commented on #19
Thanks for the help manalisha,but is it mandatory to give a time field for any new dashboard i create?

[2014-07-08 07:10] athana commented on #19
Hi Avneets - It is mandatory to give the time field in a dashboard if you have a time picker panel and/or other panels that depend on time-series data such as a histogram panel.

[2014-07-08 07:14] athana commented on #16
Hi Mr.HTZ - We'll add your suggestion to our list of improvement. Currently, there's no way to convert the time field in table panel. I'll see if I can add that feature to it. Thanks!

[2014-07-08 10:50] manalisha commented on #19
Hi Avneets,

Suppose you are using the histogram panel,that panel is based in time series data,when you see the solar query inside the module.js file of the histogram panel,they are reading the time field.so if you want any record that does not have any time field you have to write your custom code to rewrite the solr query(not include time field in fq parameter) to reflect that.That will help..

[2014-07-29 15:20] nickvasilyev opened #25 "Multiple Timestamps"
Each document in my solr collection has two UTC date time fields. I would like to use both of them to refine on data in the dashboard. I added two histogram fields and two timepicker fields for each one, however each time I use a timepicker, it will overwrite the datetime value in Filters. So if I use timepicker for OpenDate, it will add the filter correctly and start loading data. When I refine w

[2014-08-28 22:40] rohanganpatye opened #30 "Banana with Zookeeper & SolrCloud"
I have a standalone ZooKeeper instance running locally on port 2181 with 3 Solr Servers running locally on 3 different ports.  I wish to create dashboards for a single collection split across these 3 solr instances using Banana.

Can someone please help me understand how do I set up Banana to do this effectively for me?

Thanks!
PS: I followed the setup instructions from the github page for a sing

[2014-08-29 02:17] adamjlucid commented on #30
To get Banana working with this, from the dashboard click on the cog in the upper right hand of the page.  This will bring you to the dashboard configuration view, and from the Solr tab put the end point of any of the collections into the server dialogue box.  Solr Cloud will automatically distribute the queries it receives throughout the available nodes.

Make sure to format the url you use as if

[2014-09-03 17:50] rohanganpatye commented on #30
Thanks for the help!

[2014-09-03 17:50] #30 closed, assigned to nobody

[2014-09-05 07:07] m-khl opened #34 "Drillsideway (or multiselect) facets"
Hello
I'm looking for https://wiki.apache.org/solr/SimpleFacetParameters#Multi-Select_Faceting_and_LocalParams and understand that it's not done out of the box. My team plans to develop and contribute this feature. PLease comment how it aligns with the roadmap.
Also, can you give an advice of how to implement from UI perspective, which widget to modify, etc?

[2014-09-05 10:31] gd-sviatoslav commented on #34
Hi, i'm also curious about this feature. The particular usecase: how to choose several 'OR' filters for a single field on UI to see data with both values.
Thanks in advance!

[2014-09-10 07:09] banajit opened #36 "Other value slice and legends appears always zero while appearing other checkbox enabled(mode:count)"
Use Case: Top k results (count) from the result set(1,2…..k……..n)
What banana UI has done here is, since solr faceting doesn’t return they have just hardcoded value to 0.
Solutions:
Other Value count = Total Number of hits – (Sum of Top k results)
Where Total Number of hits can be found from the sole numFound

[2014-09-10 17:40] rohanganpatye opened #38 "Histogram timestamp"
Hi,

Why does the histogram show a default timestamp of 17:00:00??

My query explicitly specifies the date and time to be 00:00:00 as I'm doing a histogram of daily events. While the count and date appears correct, each event shows the same timestamp of 17:00:00.
Can anyone tell me if I'm missing something here?

Thanks!

![image](https://cloud.githubusercontent.com/assets/2896203/4222228/66ba6f80

[2014-09-11 04:21] banajit commented on #38
Banana is converting solr UTC value to your browser time in tooltip.
You need to change following code, and in configuration change the mode to utc
$tooltip
.html(
group + dashboard.numberWithCommas(value) + " @ " + moment(item.datapoint[0]).format('MM/DD HH:mm:ss')
)
.place_tt(pos.pageX, pos.pageY);

Replace above code with below loc

if(scope.panel.timezone === 'utc') {
    var tooltipTime = mom

[2014-09-12 03:41] meetri opened #40 "are there plans to merge latest updates from kibana"
Some of the latest updates from kibana are really nice, like for example colorizing the charts, and search tags. Are there any plans soon or in the future for merging these updates into banana?

[2014-09-12 05:46] rohanganpatye commented on #38
Hi,

Thanks for your help, but I'm still just getting started with Banana. Can you please tell me which file or where exactly I need to make this change??

 Also, when you say configuration, do you mean on the histogram panel in the browser?
Thanks.

[2014-09-12 05:52] banajit commented on #38
Yes, configuration means, configure panel in the browser.
You need to make change in module.js file, location
banana\src\app\panels\histogram

[2014-09-12 06:31] rohanganpatye commented on #38
Banajit,

I tried doing what you recommended, but I see no change.

[2014-09-12 06:49] banajit commented on #38
Have you change the mode to utc, in the configuration?
Also don't forget to clear the browser cache.

[2014-09-12 07:02] rohanganpatye commented on #38
Yes, I cleared the browser cache and made the changes . However I do not see anything now when I hover over the histrogram.

Also none of the points plotted on the histogram are selectable to be added as a filter to the query. I have configured them from the panel to be selectable.

Here is my module.js code:

var $tooltip = $('<div>');
        elem.bind("plothover", function (event, pos, item) {

[2014-09-12 08:53] banajit commented on #38
Seems there is no issue in the code. Please check the browser console whether you can see any error message there

[2014-09-12 13:44] athana commented on #40
Hi meetri - Yes, we are planning to merge those changes into Banana. Stay tuned!

[2014-09-12 13:44] #40 closed, assigned to nobody

[2014-09-13 02:37] meetri opened #41 "term value being split by the dash character"
When creating a terms panel using a field that contains a dash there are issues with the value being split by the dash character. Is there a solution for this?

[2014-09-13 15:47] aadel commented on #15
This should should be resolved in Banana 1.4. Now dashboards are saved / loaded from Solr instance configured in dashboard settings not config.js

[2014-09-13 15:47] #15 closed, assigned to nobody

[2014-09-15 12:17] aadel commented on #36
Thanks for the report. The fix will take place in the next release of Banana.

[2014-09-15 14:19] aadel commented on #41
Perhaps you should use [KeywordTokenizer](https://cwiki.apache.org/confluence/display/solr/Tokenizers#Tokenizers-KeywordTokenizer) for that specific field in your Solr schema configuration. Standard and Calssic tokenizers by default split field values by hyphens.

[2014-09-15 15:17] tarek-salah commented on #36
I fixed this issue and will be in the next release. Thanks

[2014-09-15 15:17] #36 closed, assigned to tarek-salah

[2014-09-15 16:23] aadel commented on #41
Or you could use field of type `string` which does not perform tokenization.

[2014-09-17 12:20] #19 closed, assigned to nobody

[2014-09-17 15:38] aadel commented on #36
@banajit: check 3e2b1fd326195b96a6585158e43798fbf170227d for the fix of this issue.

[2014-09-17 16:58] #41 closed, assigned to nobody

[2014-09-18 15:57] aadel commented on #38
@rohanganpatye could you post the query that you have in the "Inspect" dialog?

[2014-09-18 17:28] rohanganpatye commented on #38
@aadel
q=_:_&df=*&wt=json&rows=0&fq=DATE_TIME:[2014-05-20T00:00:00.000Z%20TO%202014-08-31T00:00:00.000Z]&facet=true&facet.range=DATE_TIME&facet.range.start=2014-05-20T00:00:00.000Z/DAY&facet.range.end=2014-08-31T00:00:00.000Z%2B1DAY/DAY&facet.range.gap=%2B1DAY

[2014-09-19 13:44] aadel commented on #38
Please sync with the latest commit on develop branch 6d613927807802acb62620a6a124c35482df7c35 it has a fix related to this issue.

Please note that the time in TimePicker panel is local time and if Histogram time correction is browser, you should see 00:00:00 in the tooltip and UTC time in the query inspector. In fact, you should always see UTC time in query inspector as Solr stores date in ISO 86

[2014-09-24 17:08] floreal opened #48 "Term pannel allowing to assign color to terms"
Hello,

Would it be possible to allow color assignment in term panel?

For example: when I want to monitor logs record level repartition, i want Error colored with red, Warning with oragne, notice in green and info in blue.

But somtime (hopfully) I don't get Error level record and then everything is shifted, and color is no more revelent with the log level.

cheers
##

Floréal

[2014-09-24 17:24] aadel commented on #48
Hello Floréal,

That's nice feature. Maybe in "Default colors for chart" field in terms panel section we can have a key-value pairs that map to term and corresponding color.

[2014-09-25 09:27] floreal commented on #48
That'd be cool, for sure

[2014-09-30 09:38] ahakkou opened #50 "Custom Queries are not working with Histograms"
I only tested with histograms and it does not seem to work. Maybe it is the same for terms.

[2014-09-30 12:50] aadel commented on #50
Just checked with version 1.4 and custom queries are working fine with histogram. Please post the query you have in the inspect dialog to take a deeper look.

[2014-09-30 12:59] ahakkou commented on #50
![image](https://cloud.githubusercontent.com/assets/8970097/4458292/9e0b00f4-48a1-11e4-99ec-7be4a336198b.png)

[2014-09-30 13:03] aadel commented on #50
Custom query should be entered in the following format:

&fq=text:2G

[2014-09-30 13:03] ahakkou commented on #50
Ok it works if i do this:

![image](https://cloud.githubusercontent.com/assets/8970097/4458346/2122d818-48a2-11e4-9380-5c4f10a868ee.png)

Sorry for bothering you

[2014-09-30 13:06] #50 closed, assigned to nobody

[2014-10-07 19:30] nickvasilyev opened #52 "Reset Range Facet Min/Max Values"
When I select a range using the range facet panel it gets added to the criteria and the dashboard is reloaded. However, when I delete it from the filter criteria, the range facet panel complains about lack of range filter. If I click to create a new one, it puts in the same one as I had in there last time. To get the original range back, I have to go into the panel settings and re-configure it. Th

[2014-10-08 14:13] aschix opened #53 "Terms panel (not) working multivalued field (v.1.4)"
I use the terms panel on a multivalued field. It seems it worked fine in 1.3. and still in version 1.4. but showing an error message. Eventually the check was only meant for the panel.stats_field? Or what is the issue using a multivalued field for faceting?
Thanks, Daniel

[2014-10-09 07:42] #38 closed, assigned to nobody

[2014-10-09 10:36] aadel commented on #52
Thanks for reporting, we will be working on a fix for this.

[2014-10-11 02:29] nickvasilyev opened #54 "Filter panel visual improvements"
Most of the business users that see the dashboard report that the number one eye sore is the Filters panel. Is there a way you guys can make it a bit more visually appealing?

Some of the things I noticed:
- Date filtering puts in a UTC date, which is not something that most users understand. I have to have two date fields, one for human friendly dates for display in panels like table view and a s

[2014-10-11 03:02] draytoncharles commented on #54
Agreed except for UTC. It is pretty valuable for distributed teams,
particularly investigators, because it allows them to more easily
coordinate timestamps.

I'm on board with two times.
On Oct 10, 2014 9:29 PM, "Nick V" notifications@github.com wrote:

[2014-10-11 03:15] nickvasilyev commented on #54
There are definitely merits in having a UTC timestamps, however most users get totally lost with it. I think it should follow the same conversion that is in the histogram panel, so the values are on the same scale and displayed in the same format.

[2014-11-26 10:55] athana opened #64 "Edit regex in urlLink filter to allow * (ampersand)"
From:

r1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim,

To:

r1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;*]*[-A-Z0-9+&@#\/%=~_|*])/gim,

Credit to: Michał Bieńkowski

[2014-12-30 10:36] athana commented on #64
Fix in 1.5.0

[2014-12-30 10:36] #64 closed, assigned to nobody

[2015-01-13 17:14] lardzia opened #98 "Banana authentication - authorizations"
Hi everyone!

I am looking for a way to add security to Solr - Banana.
Is there any way to add authentication and authorizations to Banana dashboards?
    - So that users' Banana dashboards can fetch authorized indexes / documents only depending on their authentication?
    - So that the users are presented with pre-configured dashboards / saved dashboards depending on their authentication?
    So

[2015-01-15 09:45] karimfikry commented on #98
Hi,

So you mean you will have members with different roles. Like (user, admin) and some have only read access and others have read/write access?

[2015-01-15 10:05] bieniek opened #99 "Table panel - offset not cleared after 'refresh' event"
Currently there is a problem with paging on table panel. Offset (page no.) will not be revert to 0 after broadcasting 'refresh' event so in case one move to further page and then choose from Timestamp panel other period - table will still display page with previous offset.

Something like:
src/app/panels/table/module.js
l.105; $scope.$on('refresh',function(){**$scope.panel.offset=0;**$scope.get_da

[2015-01-15 13:05] bieniek commented on #99
Problem should be resolved after pulling

https://github.com/LucidWorks/banana/pull/100

Regards,
Michal

[2015-01-15 14:36] lardzia commented on #98
Yes Karim,
I would like roles authorizations per collections / collections' indexes as well (a user cannot necessary have read access to all collections on the cluster)
These features look essential to me for any production grade deployment in medium and large sized compagnies.

[2015-01-15 15:13] dougmcclure opened #102 "Searching across all collections simultaneously in banana 1.5"
I have a Solr environment that creates collections per day (with multiple shards). How can I search across all of these simultaneously rather than picking one collection at a time.

[2015-01-15 15:16] dougmcclure opened #103 "banana 1.5 panel documentation?"
Does this exist in any form yet?

[2015-01-15 16:06] ravikmurthy commented on #102
Doug,

You can use collection aliases in Solr to achieve this, without making any changes to the front-end UI.

Please see:

http://blog.cloudera.com/blog/2013/10/collection-aliasing-near-real-time-search-for-really-big-data/ http://blog.cloudera.com/blog/2013/10/collection-aliasing-near-real-time-search-for-really-big-data/
https://cwiki.apache.org/confluence/display/solr/Collections+API https://

[2015-01-15 19:10] dougmcclure commented on #102
Cool, that worked.  Need some automated feature to discover new collections and append them to existing ones.  Having a collection management (build aliases, etc...) would be a nice panel to add for overall dashboard creation/management.

[2015-01-15 19:11] dougmcclure commented on #102
Can these aliases be discovered and added to the collections picker?

[2015-01-16 13:21] dougmcclure opened #104 "banana 1.5 - Dynamic Field Updates?"
Shouldn't I see the list of fields dynamically update based on a given search result or filtering action?  Using Chrome if that matters.

[2015-01-16 13:27] dougmcclure opened #105 "banana 1.5 - fine grained filtering error"
Using the main panel to zoom into areas of interest, I get to a point where I can't drag and zoom into a specific area any further and I get this error.  Seems I can keep going down in my Kibana instance.

 Oops! Can't add gap +0.1SECOND to value Thu Jan 15 09:22:12 EST 2015 for field: timestamp

[2015-01-16 14:01] dougmcclure opened #106 "banana 1.5 - default Time Field setting?"
Where can I set the default Time Field setting so each new dashboard has it properly set?

[2015-01-16 21:31] aadel commented on #106
Doug,

You just need to update time field properties inside `dashboard-nts.json` and `dashboard-ts.json` files under `src/app/dashboards` directory.

[2015-01-16 22:18] dougmcclure commented on #106
Yep, I've set that and still have to manually change it for a new
dashboard. It keeps showing event_timestamp.

boards]$ cat default-ts.json | grep time
          "type": "time",
          "type": "timepicker",
          "time_options": [
          "timespan": "15m",
          "timefield": "timestamp",
          "timeformat": "",
          "time_field": "timestamp",
          "timezone": "browser"

[2015-01-17 00:00] aadel commented on #106
Doug,

Please check here 55f51dcd665a1f7a32b852fddcd1d309daf12428. After applying this, timefield will be read from `src/config.js` along with other default dashboard settings.

[2015-01-17 05:01] dougmcclure opened #108 "banana 1.5 - heatmap Solr version dependency?"
I've tried the best I could to get the heatmap panel to work against my Solr 4.7.1.  Does this panel need a newer version (eg 4.10 with some Pivot Facet improvements)?

Tks!

[2015-01-17 05:10] dougmcclure commented on #106
I manually applied those changes, cleared caches and verified that the
timestamp field is properly set for a new dashboard page.

Thanks!

On Fri, Jan 16, 2015 at 7:00 PM, Ahmed Adel notifications@github.com
wrote:

[2015-01-19 09:54] aadel commented on #106
Thanks for the verification! Closed via https://github.com/LucidWorks/banana/pull/107

[2015-01-19 09:54] #106 closed, assigned to nobody

[2015-01-19 10:00] tarek-salah commented on #108
@dougmcclure I tested it with Solr 4.7.0 and it works fine for me
did you check your configuration for the panel?

[2015-01-19 10:05] aadel commented on #104
you mean list of fields in _Table / FTS panels_?

[2015-01-19 10:59] karimfikry commented on #105
So, can you provide us with the from and to values? as of course you can't do a solr query to search for a very small range like 0.1 seconds

[2015-01-19 12:07] aadel commented on #99
Thanks for reporting this issue! Closed via https://github.com/LucidWorks/banana/pull/100

[2015-01-19 12:07] #99 closed, assigned to karimfikry

[2015-01-19 14:03] dougmcclure commented on #108
Yes, I've tried to use this a dozen different times with no luck rendering
anything. Are there any requirements for what field types are selected for
"Row Field" and "Column Field"?  I'm most used to having a count type
metric to drive the value for heatmap coloring.

On Mon, Jan 19, 2015 at 5:00 AM, Tarek Salah notifications@github.com
wrote:

[2015-01-19 14:05] dougmcclure commented on #104
Yes, the fields on the left side of the Table panel.

On Mon, Jan 19, 2015 at 5:05 AM, Ahmed Adel notifications@github.com
wrote:

[2015-01-19 16:50] dougmcclure commented on #105
I'm not able to reproduce this now. Will revisit if I see it occur again.

[2015-01-19 17:16] dougmcclure opened #110 "banana 1.5 - filter panel - toggle on/off not updating other panels"
When I toggle a filter on/off I'm expecting all other panels to update accordingly. It's only when I delete the filter that the other panels are updated. Using FF 31.4 or Chrome 40 (64b) give me the same results.

[2015-01-20 13:43] karimfikry commented on #98
After some search I found that you can use 'Apache Sentry' which handle roles in 'Apache Solr' you can find out it here https://www.youtube.com/watch?v=8JN-iK0siYs

[2015-01-20 14:34] karimfikry commented on #105
Hi Doug,
I realized that it's because of faceting in solr as it support range faceting for >500 ms, so If you have the from value is Thu Jan 15 09:22:12 EST 2015, then the minimum to value should be Thu Jan 15 09:22:18 EST 2015

[2015-01-20 16:36] lardzia commented on #98
Yes thanks Karim I got this one,
That's a solution for Solr alone, which is ok. The teadious part shows up when considering Banana, search and dashboards.

For people interested in Solr only, I would use users-roles facets. One can use Apache ManifoldCF as well :
http://manifoldcf.apache.org/en_US/index.html
(with tutos:)
http://www.francelabs.com/blog/tutorial-for-combining-manifoldcf-and-solr-fo

[2015-01-22 00:29] ssabnis opened #111 "Event Time Stamp /Epoch format in Banana"
I have existing solr index which has a 'event_ts' as timestamp and it is in epoch (millisecond format), how can I use that field in plotting the Banana graphs. Any help appreciated.

Thanks

[2015-01-22 11:50] aadel commented on #111
Hi,

You have to store it in `TrieDateField` type (ISO-8601 standard format). Banana relies on time fields being stored in this type.

Check [here](https://cwiki.apache.org/confluence/display/solr/Working+with+Dates) and [here](https://wiki.apache.org/solr/SolrQuerySyntax) for more details.

[2015-01-22 11:56] tarek-salah commented on #108
@dougmcclure  What are the types of fields that you are using for "Row Field" and "Column Field"?

[2015-01-22 12:45] tarek-salah commented on #110
Thanks for the report . We will work on it

[2015-01-22 12:57] aadel commented on #104
Currently, fields shown on the left of Table panel are the ones selected in panel settings regardless of what fields are returned in search results.

I think the cost of detecting which fields are returned, either by iterating over query results or adding faceting to table panel query, might outweigh the usability gain, but it seems nice feature to have anyway!

[2015-01-22 21:22] ssabnis commented on #111
Thank you, issue I already have the data stored in epoch format like Bigint (long) in the index, like 2345443355667, Any clue?,

[2015-01-26 05:43] suhyunjeon opened #115 "Is there no updated documentation guide for banana 1.5?"
There is a banana guide until 1.4 or before version.
https://docs.lucidworks.com/display/SiLK/Dashboard+Configuration

I want to see the documentation guide for banana 1.5.
Can I see?

[2015-01-26 16:21] aadel commented on #111
Hi,

I think you can extend `DocTransformer` class to convert the epoch field values to ISO861 before it's written to the response. Check [here](http://lucene.apache.org/solr/4_9_0/solr-core/org/apache/solr/response/transform/DocTransformer.html) for details about `DocTransformer` class. The method `transform` is the one of interest.

[2015-01-27 00:56] suhyunjeon opened #116 "Check the Panel Query by hits"
Sometimes Panel Query shows 'q=_._&wt=json&rows=0' in 'Queries' tab of Hits Settings.
(Maybe I thought 1.4 version supported 'q=_._')
The set data is did not work.

If I change the query statements to 'q=_:_'(colon) from 'q=_._'(dot), it did works.

When I figure out the bug, I saved the json file from banana version 1.4.
After I removed the hits panel and then create the hits panel.

They have th

[2015-01-27 02:34] dougmcclure commented on #108
For the two fields I've added in my last attempt, the schema shows this:

dynamicField name="*_ds" type="tdouble" indexed="true" stored="true" required="false" multiValued="false" docValues="true"

fieldType name="tdouble" class="solr.TrieDoubleField" precisionStep="8" positionIncrementGap="0"

Doug

[2015-01-27 05:33] aadel commented on #110
Closed by https://github.com/LucidWorks/banana/pull/114

[2015-01-27 05:33] #110 closed, assigned to tarek-salah

[2015-01-28 11:01] ykheddar opened #119 "Error Oops! undefined field: "event_timestamp" with Banana"
Hello,

Can you help me to resolve this problem.

When I execute a query on Banana I have a error :  "Oops! undefined field: "event_timestamp"  "

Thanks.

Youcef

[2015-01-28 11:19] tarek-salah commented on #119
this is can be solved by opening the configuration for the panel and check the time field
the time field must be field in solr core
for example to set time field in time picker panel
![selection_086](https://cloud.githubusercontent.com/assets/7497722/5936739/0ed978c2-a6f0-11e4-9af2-1fc4086105d1.png)

event_timestamp is field is solr core

[2015-01-28 13:09] tarek-salah commented on #115
We are working on that now.
thanks for hint

[2015-01-28 14:07] ykheddar commented on #119
Thank you dear tarek-salah.

[2015-01-28 14:17] #119 closed, assigned to nobody

[2015-01-28 16:35] ykheddar commented on #119
Tarek-Salah,

Can you specify the name of file that I need to modify to resolve this issue?

Thnx.

[2015-01-29 01:47] suhyunjeon commented on #115
Thank you for reply.

[2015-01-29 02:50] athana opened #121 "Add option to change the Solr request handler"
Currently, all requests are sent to (the hard coded) /select request handler.

![screen shot 2015-01-29 at 9 54 11 am](https://cloud.githubusercontent.com/assets/974546/5951678/d16d311a-a79c-11e4-99e8-634f4e11f808.png)

[2015-01-29 08:43] tarek-salah commented on #119
You don't need to modify any file
just from the configuration for any panel you can change the field
![selection_087](https://cloud.githubusercontent.com/assets/7497722/5954706/a288204c-a7a3-11e4-92b2-d011bb1a1920.png)

[2015-02-05 10:44] suhyunjeon opened #123 "Pie graph got bugs in term panel."
I used many pie graph in a dashboard.

When they have data, they did not show the bugs.
But if they don't have data(when I searched a new condition), they shows the bugs.

[ web browser : Chrome 39.0.2171.65 (64-bit) ]
When I using a mouseover in pie chart panel, they got bugs like this.
1. Uncaught TypeError: Cannot read property 'autoHighlight' of undefined
2. Uncaught TypeError: Cannot read pro

[2015-02-05 11:02] aadel commented on #123
Hi,

Please post the dashboard JSON that produces this issue so we can take deeper look. Also, which version/branch of Banana are you using?

[2015-02-05 11:16] suhyunjeon commented on #123
It's 1.4 version. Tell me your email address. I will send an email attached json file.

[2015-02-05 11:57] aadel commented on #123
I think it's easier to save the dashboard to a gist and post the URL.

[2015-02-05 12:21] suhyunjeon commented on #123
I know what it is. I already used to gist uploaded. but I dont want to open
a json file. It is a job for company. So I wanted to send you a file.

2015년 2월 5일 목요일, Ahmed Adelnotifications@github.com님이 작성한 메시지:

[2015-02-05 12:35] aadel commented on #123
You can use the email address on my GitHub profile page.

[2015-02-05 12:43] suhyunjeon commented on #123
Thank you :)

2015년 2월 5일 목요일, Ahmed Adelnotifications@github.com님이 작성한 메시지:

[2015-02-06 00:43] suhyunjeon commented on #123
미세한 자바스크립트 에러가 너무 많네요. 일일이 이슈처리하긴 힘들고..
파이어폭스와 크롬에서 나는 현상이구요.
하나씩 수정해서 문제 해결하였습니다.

[2015-02-06 02:16] #123 closed, assigned to nobody

[2015-02-09 10:19] obiwan866 opened #125 "How to use a dashboard stored in sorl as default"
Hi all !
First congrats fo that great work.

I would like to use a dasboard stored with solr as default dashboard without copy the json inj the default.json.

Any clue wil be useful.
Thanks in advance.

[2015-02-09 10:39] aadel commented on #125
Hi!

You can load the dashboard from Solr and save it as _Set as Browser Default_ from _Save_ menu, but this will work per browser.

[2015-02-09 13:18] obiwan866 commented on #125
Hi thx for your answer !
My goal is to give all the users the same default browser, maybe a symbolic link with the original dashboard. The point is : where is this dashboard stored ?

[2015-02-09 14:51] aadel commented on #125
They are currently stored in banana-int core so symlink won't work. If you're using Banana on Node.js, I think it's possible to introduce a simple API to load the default dashboard from the file system instead of the browser. Looks like a nice feature!

[2015-02-09 15:08] obiwan866 commented on #125
I watched the files where the default dash is loaded and how the solr-stored dash are loaded too (a solr request with stringify (grosso modo) ).
it is possible with a little work to get this functionality in banana.

[2015-02-09 21:29] dougmcclure commented on #108
Any insights into this yet?

[2015-02-09 21:31] nickvasilyev commented on #108
Is your collection sharded?

[2015-02-09 21:54] dougmcclure commented on #108
Yes, each collection has two shards.

On Mon, Feb 9, 2015 at 4:31 PM, Nick V notifications@github.com wrote:

[2015-02-09 21:56] nickvasilyev commented on #108
Try adding distrib=false to heat map query and see if that helps.
On Feb 9, 2015 4:54 PM, "Doug McClure" notifications@github.com wrote:

[2015-02-09 22:37] dougmcclure commented on #108
That got me to a grid, but nothing appears to be showing up in a given cell. I'm expecting seeing some number value and shading representing count.

[2015-02-09 22:45] nickvasilyev commented on #108
Alright, that's progress. See what query it is running and run it manually
in sole to make sure you are getting data back.
On Feb 9, 2015 5:37 PM, "Doug McClure" notifications@github.com wrote:

[2015-02-09 23:13] dougmcclure commented on #108
Ok, ran the query in browser and here's a sample of the results returned. Looks like I have some results which should be plotting.

{
  "responseHeader":{
    "status":0,
    "QTime":6,
    "params":{
      "facet":"true",
      "indent":"true",
      "q":"_:_",
      "facet.limit":"10",
      "distrib":"false",
      "facet.pivot.mincount":"0",
      "wt":["json",
        "json"],
      "facet.pi

[2015-02-09 23:18] nickvasilyev commented on #108
Ok, hover over the blocks that should have values and see if any data shows
up in tooltip.
On Feb 9, 2015 6:13 PM, "Doug McClure" notifications@github.com wrote:

[2015-02-09 23:26] dougmcclure commented on #108
I see the tooltip, all values are (0). None of the counts show up like they do for the ones with results in the test query.

[2015-02-10 06:03] athana commented on #125
Thanks for your suggestion @obiwan866  I will add this feature for the next release.
For now, the workaround for this is that we can use a URL bookmark to point to the dashboard in Solr, for example, http://localhost:8983/banana/#/dashboard/solr/your_home_dashboard. Set this URL as your default (home) page for Banana dashboard and it should work.

[2015-02-10 10:22] karimfikry commented on #108
I tried your attached data which is:

[code]

And I found the following result:
![Alt heatmap](http://s27.postimg.org/3ok3vu52r/Selection_044.png)

Which indicates it works well, so where is your problem?

[2015-02-10 11:07] suhyunjeon opened #126 "Can I use fields if not exists in schema to solr?"
label:question
I want to use a field does not exist in schema from banana.

1) Added Add Custom Query in Queries panel like this.

[code]

2) Selected table to the term panel. Added Field "extra_field" in Panel tab.
3) Got the bug

[code]

Can I use fields if not exists in schema to solr?

[2015-02-10 14:57] dougmcclure commented on #108
Ok, I think I've got a something here. Something appears to be off in how queries are passed and results returned when using a collection name versus a collection alias (what I'm using).

When I pass in a query URL which includes the very specific collection name, I see results in the browser's JSON display like I hared above.

When I pass in a query URL which includes my collection alias (which i

[2015-02-11 07:28] athana commented on #108
Hi @dougmcclure - I setup a test on my machine with Solr 4.7.1 in SolrCloud mode and use two shards. Then, I created two collections (hvac and hvac2) and one alias (hvacalias) that point to them. Then I create a Banana dashboard using 'hvacalias' and everything works fine. However, when I tried to add the Heatmap panel, it will come up empty at first because Solr 4.7.1 does not support distributed

[2015-02-11 13:52] dougmcclure commented on #108
Yes, exactly the same.  I have banana running inside the Solr server.

[2015-02-12 10:35] suhyunjeon opened #132 "Banana is so slowly especially drag on histogram panel."
I've got 30,216,305 data.

The first loading is pretty fast from banana.
But second, when I drag and drop a histogram from panel, it is soooooooo slowly.

It is not that many data for us. Is anyone else like me?

[2015-02-12 12:09] athana commented on #132
Hi @suhyunjeon do you mean the dashboard is slow when you try to move the histogram panel around? What panels do you have on that dashboard?

[2015-02-12 12:49] suhyunjeon commented on #132
Hello, @athana.

Nope. When I try to drag and drop the histogram on the histogram( Added timestamp in filter panel), it is so slowly.

I've many panels on that dashboard.(term, table, histogram, stats, hits, query and so on).

[2015-02-12 13:38] ravikmurthy commented on #132
Su Hyun,

You could try using TrieDate instead of Date for the type of your timestamp field. It will improve the range facetting performance.

Regards,
Ravi

[2015-02-13 00:04] suhyunjeon commented on #132
Hello @ravikmurthy ,

I already using TDate from solr like this. T.T

[code]

[2015-02-13 07:08] suhyunjeon opened #133 "Table paging is not refresh in the query panel when I try to search data."
Hello everyone.
Table paging is not refresh in the query panel when I try to search data.

First of all, I searched all data to the table panel using query panel.

[code]

Second of all, I moved paging to third page from first page.

[code]

Now I stay third page (20 to 30 of 50 available for paging).

Finally I searched a data to the table in query panel again.

[code]

There is no data in table

[2015-02-13 07:40] athana commented on #133
Thanks for reporting @suhyunjeon  I will fix this issue.

[2015-02-17 02:26] dougmcclure opened #135 "Adding min/max/sum/mean to histogram panel?"
Would it be possible to add these stats function items to the histogram panel?  Seems like something that is really needed there as really the only place to have line charting.

Usage - trend the avg or max response time grouped by server over the day/week aggregated by 1m/5m buckets.

What would be involved in exposing this?

[2015-02-17 02:28] dougmcclure opened #136 "Improving terms panels - line chart, bottom N, multi-series"
Improving the terms panel would be nice. Adding a line chart, bottom N and the ability to plot min/max/avg values here would be very helpful.

[2015-02-17 02:39] dougmcclure opened #137 "Histogram Toggle On/Off Queries or Group By Fields"
It would be helpful to be able to toggle on/off any number of the queries or group by field series on a histogram panel. This would aide in moving from a histogram with many series to one where the user can more closely focus on a subset.  I'd envision clicking on the colored dot to toggle a series on/off.

[2015-02-17 06:11] suhyunjeon commented on #133
I solved the bug. I did pull request now. Check it out.

[2015-02-17 06:42] suhyunjeon commented on #135
There is no stats to histogram panel. But I developments stats panel(min/max/sum/mean) using hits panel. Banana members will be applying to next version.

See the issue.
https://github.com/LucidWorks/banana/pull/118

[2015-02-17 08:53] #133 closed, assigned to karimfikry

[2015-02-17 11:00] athana commented on #135
@dougmcclure  We are working to include the stats mode for Histogram panel and Hits panel in the next version. Thanks again @suhyunjeon for your contribution!

[2015-02-17 12:27] aadel commented on #136
I think having bottom N is a very nice, but I can't see how line chart fits here. The values returned are discreet (Top N) and they need not be connected anyway, hence pie (for percentage) and bar make sense. Terms panel settings already supports aggregate functions for a specific field.

[2015-02-17 12:35] dougmcclure commented on #136
Suggesting a line chart option here not for use with TopN/BottomN but to use with stats. Need a way to draw a line chart with avg/max/mean, etc over time..  Not sure if it's easier to add here or add the stats feature to hisogram panel.

[2015-02-18 10:03] aadel commented on #136
Yes, I believe it makes more sense to add aggregate functions to histogram and line charts are already there. This seems related to https://github.com/LucidWorks/banana/issues/135

[2015-02-18 10:22] aadel commented on #126
Yes, dynamic fields are supported in Banana. It could be an issue with custom query syntax, maybe it should be `&fq=extra_field:"if(exists(tnx_abnormal_b),0,1)"`

[2015-02-18 15:01] dougmcclure commented on #136
Agree - lets get bottom N added for terms panel and leave the rest of the stats for histogram or new panel types using d3. Kibana 4 has added a lot more stats types - hope we can get more stats/analytics component things added soon.

[2015-02-19 16:50] nickvasilyev opened #141 "Internet Explorer Loading"
Hello,

I am running into an issue with loading Banana in Internet Explorer 9. When I get to the page it starts to load, however parts of the dashboard are not loaded; as in some panels are missing. If I check the network tab in dev tools I can see the file download count and it is short some files. At this point if I reload the page, the files from the first round will be used (304 status),  but

[2015-02-19 16:51] nickvasilyev commented on #141
Also, I get a Error: $digest already in progress in the console log on the partial page load.

[2015-02-20 09:20] aadel commented on #141
The first issue is actually a know issue due to libraries loading timeout. This [patch](https://github.com/LucidWorks/banana/commit/4f9efba1bca058152c54e0ed9c84083cfddc035c.patch) resolves it.

The second one, $digest already in progress, might be related to IE9. Let's see if it persists after applying the patch.

[2015-02-20 13:23] nickvasilyev commented on #141
Hi, Thanks for the patch, however I already configured require in my environment with unlimited timeout (0) and the issue is still around.

I have been troubleshooting this for about a day now and I am fairly convinced that the culprit is in the last block of app.js (where all components get loaded), but I am not certain.

[2015-02-20 13:45] dougmcclure commented on #135
@athana any early work on adding these to the histogram I might be able to play with in 1.5?

[2015-02-20 21:06] aadel commented on #141
Hello, Which version are you running?

[2015-02-20 21:14] nickvasilyev commented on #141
Hi Ahmed, it's 1.3 and moving to 1.5 wouldn't be an option for us at this
point.
On Feb 20, 2015 4:06 PM, "Ahmed Adel" notifications@github.com wrote:

[2015-02-21 00:19] aadel commented on #141
Hi, we could run 1.3 on IE9 without issues (at least the mentioned issue after increasing waitSeconds). However, I wonder if this issue occurs on other browsers?

[2015-02-21 01:43] nickvasilyev commented on #141
Hi Ahemd,

Our testers tested with firefox and chrome and did not report any issues. I did some testing as well and noticed this only in IE.

I just tried to access one of my banana 1.5 dashboards with IE 9 and did not run into the same issue. This dashboard has much more data and panels.

I still received the $disgest error message, but at least everything loaded fine.

[2015-02-23 07:17] athana commented on #135
@dougmcclure I'm working on this feature for 'develop' branch. I'll let you know as soon as it's done.

[2015-02-24 18:29] nickvasilyev commented on #141
Hi Ahmed, sorry for mistyping your name in the last post.

I have found a workaround that works sufficiently well for me although it is very much sub optimal. Had to change dashboard loading process in IE and put in a delay before syncing.
in app.js:

$scope.$apply(function () {
    if(navigator.appVersion.indexOf("MSIE 9.")!=-1) {
      setTimeout(function() {
        fn.apply($scope, deps);

[2015-02-24 18:35] aadel commented on #141
Hi, if it resolves $digest in 1.5 as well, a pull request is welcome!

[2015-02-24 18:36] nickvasilyev commented on #141
1.5 was working fine, it is a terrible work around and I'd hate to contribute it.

I had to do a lot of custom things to our banana implementation to meet section 508 requirements, so it may have been something on our side.

[2015-02-24 18:51] aadel commented on #141
Hi Nick, just thought that `$digest` issue occurs on IE9 and 1.5 for any dashboard, but seems specific dashboards only triggers this.

[2015-02-26 16:30] bverheij opened #144 "Ability to display queries with distinct values (ngroups + truncate)"
Hi there,

we've been happily using Banana v1.5, but we increasingly miss one feature: the ability to visualize queries with distinct values, e.g. distinct users doing an event (achieved using ngroups + truncate in the query).

I tried adding e.g. <code>"&group=true&group.field=userId&group.ngroups=true&group.limit=0&group.truncate=true"</code> to the custom queries of histograms and terms panels,

[2015-02-27 09:03] suhyunjeon commented on #144
I tried adding what you wrote.

[code]

Also I tried to it in solr admin page.

[1] group.limit=0 (its like you) got errors

[code]

[2]  Change the limit size -> group.limit=10

[code]

[3] And I also tried adding custom query in Banana. It did works like that.

[code]

[2015-02-27 11:14] obiwan866 opened #145 "Terms panel facet sort"
Hi all !

i'm trying to use the terms panel to get some stats fields (sum for example).
Here is my question : i would like to sort the result by date, and not by value.
more precisely i'm doing a sum on each day (with a string date field / not the original date field in solr format), and i get these sums oredering by their value not by their date.

Any  tips about that ?

thx in advance.

[2015-02-28 21:39] aadel commented on #145
Hi, Histogram panel seems more appropriate for your situation. You may choose values mode and cumulative option from panel settings to get cumulative values ordered by date.

[2015-03-02 10:47] obiwan866 commented on #145
Hi,  i don't think so, the cumulative option does not do the job. i get my numerical value individually.
I'm using a filter like this : &fq=indicator:Inject*. There are 5 indicators, and i would like to get the sum of those five rows (another numerical field actually). My point is to get some stats facet sorting.
Thx.

[2015-03-03 06:31] aadel commented on #145
Could you please provide the panel query you have?

[2015-03-03 14:55] MFrancesco opened #147 "Best way to add dependecy when creating custom panel"
Hi all,
recently i saw the tutorial presented by Andrew Thanalertvisuti on how to write custom panels.
Now i need to add some custom library in order to write my panel and i was wondering on what is the best and most portable way of adding and use external resources without editing the banana source code ?
The only way i currently find is to add the library and edit the require.config.js file
Gree

[2015-03-03 17:55] bverheij commented on #147
Hi Francesco,

is that tutorial on writing custom panels available online? I was looking for just that (and information on writing customer panels).

Cheers
Bas

[2015-03-03 18:13] athana commented on #147
Hi @MFrancesco @bverheij  I will write the tutorial and post it to Banana's wiki page for you. This is a pretty busy week for me, so I will probably finish it by next week. Thanks for your interests!

[2015-03-03 18:23] dougmcclure commented on #147
+1

On Tue, Mar 3, 2015 at 1:13 PM, Andrew Thanalertvisuti <
notifications@github.com> wrote:

[2015-03-03 18:40] bverheij opened #148 "Estimated release date Banana v2.0.0"
Hi there,

is there an estimated release date for Banana v2.0 already?

We like to know how in order to estimate possible migration timelines (and diverting possible implementation of custom panels in the current version).

Cheers
Bas

[2015-03-03 18:45] dougmcclure commented on #148
+1   Very interested in this also - and how much of the Kibana 4 look, feel
and panels will be supported

On Tue, Mar 3, 2015 at 1:40 PM, bverheij notifications@github.com wrote:

[2015-03-03 19:11] MFrancesco commented on #147
Tnx @athana and keep up the good work.
Btw for @dougmcclure https://www.youtube.com/watch?v=cqV5lPM2VVE this is a great starting point. Tomorrow i can upload a gist i created containing a skeleton panel you can easily extend.

[2015-03-04 14:39] obiwan866 commented on #145
Hi,

i achieve my goal, with a small and ugly change in the terms panel code. So i'v got the stats (sum here) sorted by date(label actually).

Here is the query : q=indicator%3AInjectIPTVEvent*&wt=json&rows=0&fq=date:[NOW/DAY-90DAY%20TO%20NOW/DAY%2B1DAY]&stats=true&stats.facet=date_split&stats.field=value_num&facet.missing=true

[2015-03-06 14:27] obiwan866 commented on #145
Hi all,

The feature i needed has been implemented in the term panel of the develop branch (1.5).
That's great !

Regards.

[2015-03-06 14:27] #145 closed, assigned to nobody

[2015-03-10 08:56] fxprunayre opened #151 "dev-2.0 / Error when running the minify version"
Hi, using dev-2.0 branch, all is fine when using the non compressed JS (using npm start or embedded in a WAR) but when I build the minify one and embedded it in my webapp, I get :

[code]

All is fine if not compressing the JS. Any suggestions appreciated ?

Thanks.

[2015-03-10 10:59] fxprunayre commented on #151
If I disable the uglify task https://github.com/LucidWorks/banana/blob/release/Gruntfile.js#L283 then I don't have the error but encountered some others.

[2015-03-10 13:00] athana commented on #151
@fxprunayre Thanks for reporting. I will take a look and try to fix it.

[2015-03-12 09:36] MFrancesco commented on #103
Duplicate of #115

[2015-03-12 13:18] dougmcclure commented on #104
As I read the config.js file, this feature leads me to believe that after any query, the relevant fields available in the paginated result set will be updated.

 /**
     \* The default settings will use /admin/luke API to retrieve all fields from Solr including
     \* dynamic fields (e.g. *_s, *_t, and etc).

[code]

Can someone explain how the LukeRequestHandler is supposed to work to update fi

[2015-03-16 15:49] athana commented on #147
Hi guys! I finished writing the tutorial on how to build a custom panel. You can read it here: https://github.com/LucidWorks/banana/wiki/Tutorial:-How-to-Build-a-Custom-Panel
Any feedbacks are welcome.

[2015-03-16 15:49] #147 closed, assigned to nobody

[2015-03-18 12:48] obiwan866 opened #153 "Nested (?) Query"
Hi all,

Here is the problem i'm facing on  :
I've got a collection with the following fields : Date_Time, Marker (string), Number (int),
i would like to get for a given marker, the value of  number at NOW - 1 DAY, NOW - 7 DAYS and for example div(sub(Nbr,NbrD-7),NbrD-7) and  put them in a table.

Any clue to do that ?
Thanks.

[2015-03-19 14:14] obiwan866 commented on #153
maybe i could precise my problem :

I just would like to get on the same line the value of number for different date.
if anybody would know the type of query i need for, i will be truly grateful.

[2015-03-20 13:57] iperminov opened #154 "Retrieving collection list from Solr Cloud"
Currently the call to .../admin/cores?action=STATUS is used to retrieve the list of available collections. However, in Solr Cloud this call returns not the list of collections, but the list of shards (parts of distributed collections).

What do you think on using .../admin/collections?action=LIST instead?

[2015-03-23 22:03] aadel commented on #153
Hi, it seems that the solution is to extend DocTransformer. Check here for more details:

http://lucene.472066.n3.nabble.com/Custom-Response-Handler-td4067558.html

Inside `transform` you can retrieve values for NOW-1DAY and NOW-7DAY, do the calculations and add fields to response as needed.

[2015-03-24 08:07] iperminov opened #155 "HTTP GET vs POST to execute search"
Hi,

I have questions concerning the HTTP method to execute search.

Currently in the "dev-2.0" branch you use POST (see https://github.com/LucidWorks/banana/blob/dev-2.0/src/vendor/solrjs/solr.js#L18500). And in the "develop" branch you use GET (see https://github.com/LucidWorks/banana/blob/develop/src/vendor/solrjs/solr.js#L18501).

The request method was changed from POST to GET in the commit 4

[2015-03-24 09:08] harspras opened #156 "Add option to use SolrCloud for performing dashboard requests"
Currently, Banana dashboard provides option to enter Solr server name directly, but if that server is not available, the configuration have to be changed. Since SolrCloud provides high availability, an option to use SolrCloud for issuing requests might be helpful for both Load Balancing and High availability.

This issue can be tackled in the following manner:
1. Enable information retrieval from

[2015-03-25 15:41] harshinim opened #158 "2 Histogram panels on the same dashboard"
I have a requirement to draw 2 histogram panels with different queries on the same dashboard. Seems like I can have only one query panel which is tied to the histogram/hits panel, Can you let me know if its possible to have 2 histogram panels with different queries?

[2015-03-25 15:56] aadel commented on #155
Solr accepts both GET and POST for `/select` handler but GET made more sense as the request just retrieves data. However, as you mentioned, we reverted to POST in "dev-2.0" due to the 400 error which is thrown by containers in case of extremely long requests.

[2015-03-25 19:15] iperminov commented on #155
Agree, from the formal point of view GET has more sense to retrieve data. But from the practical point of view it would be more convenient to use POST to allow long requests. Can I prepare a patch to change GET to POST in the develop branch?

[2015-03-26 10:03] aadel commented on #155
Yes, a patch for this makes sense.

[2015-03-26 10:28] aadel commented on #158
v1.5 supports multiquery which renders on histogram as different series. You can also have more than one histogram panels on the same dashboard with different custom queries that can be configured under "Queries" tab of each panel. This applies to other panels as well.

[2015-03-26 10:36] harshinim commented on #158
My requirement is to have 2 histogram panels like this - 2 different
queries - these are non-numeric fileds, so i cannot use group by also...how
can I use multiquery for this?

From:   Ahmed Adel notifications@github.com
To: LucidWorks/banana banana@noreply.github.com
Cc: Harshini Mariswamy/India/IBM@IBMIN
Date:   03/26/2015 03:59 PM
Subject:    Re: [banana] 2 Histogram panels on the same dashboar

[2015-03-26 11:16] aadel commented on #158
Using the leftmost button on the query text box (the plus sign), you can add more queries to the dashboard. You may specify it in the form of _field:query_ where _field_ can be of any type.

[2015-03-26 13:59] dougmcclure commented on #158
let me help clarify:

We desire to trend over time the count of messages grouped by a given field.  This isn't a numerical field. I'd assume these query parameters is how it's done, but I'm not sure where to place this - what panel, etc.

&group=true&group.field=FIELD

so that the count of each value is rendered as its own series on the histogram.  Limiting this to TopN or BottomN would also be ni

[2015-03-26 16:15] dougmcclure commented on #158
A bit deeper exploration - I can see the results in the query I think I need - but how can I return a value ("numFound") into the histogram as unique series by group ("groupValue")? It seems if I could map in "numFound" into the value expected for each series "groupValue" that this would work.

The top portion of the histogram panel is right, just missing the value to be plotted. I wouldn't want t

[2015-03-27 00:19] dougmcclure commented on #104
Any thoughts or updates for this issue?

[2015-03-27 09:28] Freedom101 commented on #158
+1. Also very interested in the answer to this!

[2015-03-27 12:00] harshinim opened #161 "Group by in Histogram"
Can we group by more than one field in histogram? I know that this is not currently supported, but is it possible to add this feature?

[2015-03-28 20:24] aadel commented on #161
Hi, this seems interesting feature! It's possible indeed to group by multiple fields and add support for it.

[2015-03-29 13:12] harshinim opened #162 "Mutli-valued field support for Group by fields in histogram"
Is there a plan to support multi-valued fields for Group by in histogram?

[2015-03-29 22:29] aadel commented on #162
Group field must be single value in Solr so it's not related to a specific panel implementation, check here: https://cwiki.apache.org/confluence/display/solr/Result+Grouping and http://qnalist.com/questions/4933719/grouping-on-a-multi-valued-field

[2015-03-30 11:59] nickvasilyev commented on #161
I would really like this too, but I am not sure how to do this in Solr. Is
there a way to do a date range facet pivot?
On Mar 28, 2015 4:24 PM, "Ahmed Adel" notifications@github.com wrote:

[2015-03-30 15:25] #155 closed, assigned to nobody

[2015-03-31 15:45] dougmcclure commented on #104
My theory is that the API calls made by this request:

https://10.0.0.1:8983/solr/CollectionAlias/admin/luke?numTerms=0&wt=json

Isn't getting what is needed from the CollectionAlias.  The actual CollectionAlias may have many collections, and it appears that the only data coming back is for the first collection in the CollectionAlias list.

What can be done here to ensure that this call gets back

[2015-04-03 06:38] athana commented on #104
@dougmcclure I also experienced the same issues in the field list of Table panel, especially when there are too many fields (like 100+) in the data, or sometimes when there are a lot of dynamic fields. The Solr API /admin/luke is what I used to retrieve the field list and it works in most cases.

So I fixed this issue (in commit https://github.com/LucidWorks/banana/commit/7c8a4c45120b08bed1d4beaa4

[2015-04-06 14:06] ghost opened #164 "Banana update for Solr 5.0 release?"
I wanted to post this issue to ask about the current state of support for the latest Solr 5.0 release, I tried configuring the Banana dashboard to work with Solr 5.0 by deploying Banana stand-alone on my servlet container, but the dashboard seems to only want a collection reference (which I believe has been replaced by cores?). Please reply with any information or redirection of this question. I c

[2015-04-06 16:53] Tagar commented on #148
+1

[2015-04-06 17:44] aadel commented on #161
@wrdrvr actually, Solr supports multiple group fields in a single request.

[2015-04-06 18:53] aadel commented on #164
Solr 5.0 is supported but talking about cloud vs. single node is different from Solr version. Single node mode (cores) is supported. Cloud mode related PR here https://github.com/LucidWorks/banana/pull/160

[2015-04-06 20:21] nickvasilyev commented on #161
Right, I apologize, I responded in a hurry. I was thinking of using the histogram to generate a line chart for counts based on  facet pivot instead of what it currently does. Solr supports this, but I don't think you can get Solr to split it up by date ranges. I've had to round down by dates to a day and hour in separate fields to get this to work.

[2015-04-08 18:58] Tagar opened #165 "Hue's fields histograms - feature request"
Would it be possible to implement showing some stats for each field, in the same way
as Hue Solr dashboards natively support: when on click on a field, it shows up a pop-up window
1) first tab - histogram with field's values distribution with ability to filter
by a specific field value;
2) on a second tab it shows following stats:
-count
-missing
-max
-sum
-min
-sumOfSquares
-stddev
-facets
-mean

[2015-04-10 22:23] Tagar commented on #102
Is it possible to have an alias for collections of different structure? So we could use multiple different collections on the same dashboard.. thanks!

[2015-04-11 22:07] genesawyer opened #166 "Period (.) inclusion in field name prevents facet panel from expanding"
Using the Solr 5.0.0 Admin, I can facet a multivalued field (PID.3.1) which results in:

"facet_fields": {
      "PID.3.1": [
        "BETADINE",
        1,
        "CODEINE",
        1,
        "COMPAZINE",
        1,
        "CORDARONE",
        1,
        "DARVOCET",
        1,
        "IODINE",
        1,
        "KEFZOL",
        1,
        "LORTAB",
        1,
        "NEOMYCIN",
        1,

[2015-04-13 19:13] aadel commented on #166
Couldn't reproduce here. Could you please provide more details whether this issue occurs on other browsers?

[2015-04-13 21:51] genesawyer commented on #166
Also tried in Chrome Version 41.0.2272.118 m... same behavior.  IE10 won't even render a result set.  Haven't tried IE11 yet.  I would be happy to do a webex and show you the behavior.

Here is the offending field from schema.xml in Solr:

field name="PID.3.1" type="string" indexed="true" stored="false" required="false" multiValued="true"

And as I mentioned, the result set DOES appear to be gener

[2015-04-13 22:54] genesawyer commented on #166
I believe I have narrowed-down the issue to the inclusion of periods (.) in the field name.  When I attempt to facet on PID.3.1, the issue presents.  If I change the field name to PID_3_1 in schema.xml and re-run my dataset, the facet panel expands as expected.  As period is not a reserved character in Solr, I believe this to be a bug in the facet panel of Banana.  Please advise.

[2015-04-14 17:54] aadel commented on #166
@genesawyer Please apply this patch for the fix: https://github.com/LucidWorks/banana/commit/990e620744c8b58a574ead52368cc15d8508a872. FTS panel was also affected by this bug. Thanks for reporting!

[2015-04-14 18:21] genesawyer commented on #166
Confirmed fixed.  Thanks for the awesomely quick turnaround.

[2015-04-14 18:21] #166 closed, assigned to nobody

[2015-04-14 22:32] nickvasilyev opened #167 "Question on panel controller dependency injection"
Hello,

I have to customize a panel and I need to inject the angular strap $popover service. It works fine through the HTML, but I need to be able to interact with it using JS.

I inject it like so:
module.controller('fullTextSearch', function($rootScope, $scope, fields, querySrv, dashboard, filterSrv, $location, $popover) {

However, on load I get the following:
Error: Unknown provider: $popoverP

[2015-04-15 07:05] janmejay commented on #148
Hi,

Does banana work by merging-back changes from kibana and then making changes to it? Or is it a non-converging fork of Kibana which is supposed to diverge by choice?

Should users expect all changes flowing into Kibana to come here? As in:
- is it just a mater of time?
- or will features be built from scratch, incrementally, on need basis, or based on patches received?

[2015-04-15 07:06] janmejay commented on #148
+1 for Kibana4 features being pulled.

[2015-04-15 10:36] athana opened #168 "Add Leaflet heatmap plugin to Bettermap panel."
![leaflet_heatmap](https://cloud.githubusercontent.com/assets/974546/7157023/d1cc8702-e395-11e4-8e4e-ee1e37956afc.png)

[2015-04-15 15:19] Tagar commented on #148
+1 for Kibana4 features being pulled.

[2015-04-15 16:10] nickvasilyev commented on #148
Can you guys specify some specific functionality you are looking for from Kibana 4?

Are you looking for the general mapping of searches to panels to dashboards, or just similar visualization?

I can tell right off the bat that some visualizations will have problems because in elastic search you are able to run an aggregation on a date range (like a combination of facet.range and facet.pivot), thi

[2015-04-15 16:35] dougmcclure commented on #148
The same user experience - search, visualize, dashboard. Wizard driven
visualize panel configuration. Start anyplace - with a search, saved search
or saved panel.  As much of the panel type and functionality as Solr 5.x
plus any that stats/analtyic components could offer (eg Bloomberg stuff or
similar from LucidWorks, Heliosearch, etc). Stats on any/all panels where
possible. Exporting data from a

[2015-04-17 00:48] nickvasilyev commented on #148
Thanks Doug, that clears things up a bit. I am not really on the dev team, so I am not sure what they are planning.

In the meantime, here is a sunburst panel, hope it helps:
https://github.com/LucidWorks/banana/pull/169

[2015-04-17 14:17] athana commented on #148
Currently we are working on porting Kibana 4 to Banana 4. Due to time and resource constraints, we have to put Banana 2 (dev-2.0 branch) on hold for now. Banana 4 will have the same look and feel as Kibana 4, minus elasticsearch-specific features. We plan to release Banana 4 in May or June, and after that, we will come back to finish the Banana 2.

[2015-04-17 14:25] athana commented on #148
@janmejay Banana 1.x and 2 are non-converging forks of Kibana. This is by choice because we have to make many changes to elasticsearch-specific codes and UIs in Kibana, in order to support Solr. Some features that can be ported to Banana will be ported, otherwise, we will have to build them from scratch. For the upcoming Banana 4, it will be a non-converging fork as well.

[2015-04-20 08:39] janmejay commented on #164
Load-dashboard feature wasn't working with Solr-5.0, fixed that here: https://github.com/LucidWorks/banana/pull/170

[2015-04-22 12:53] fxprunayre commented on #148
@athana any public repo where we could follow what is going on (or even maybe help) on Banana 4 ?

[2015-04-23 10:19] harshinim opened #171 "Pre-load and post-load functions"
Is there a way I can call some functions before loading the panels and another function after all the panels are loaded?

[2015-04-24 23:52] genesawyer opened #172 "Clicking one timepicker changes range of separate timepicker"
On a time-series dashboard, create a second timepicker panel using a separate indexed field as 'time_field.'  For example, the default timepicker panel has time_field:insert_time, the second timepicker panel has time_field:dob.

The default timepicker panel has TO: FROM: range of 7 days and its results are displayed on a histogram.

The second timepicker panel has TO: FROM range of relative.  Clic

[2015-04-30 03:35] athana commented on #148
@fxprunayre not yet. We will open the repo at the same time we release Banana 4. Thanks for offering your help. I'm appreciated it.

[2015-04-30 04:28] suhyunjeon commented on #167
Did you define angularjs strap module in controller.js?

[2015-04-30 05:33] athana commented on #171
@harshinim I think you might be able to put the function inside services/dashboard.js => this.dash_load function, before loading the panels. Also, another place to put the function is in controllers/dash.js => $scope.init function.

However, I’m not sure yet where to put the function after all the panels are loaded. You probably will have to track which file makes a call to dash_load() and insert

[2015-05-02 22:06] aadel commented on #172
Hi @genesawyer the time-series as a concept deals with one time field in general. If you'd like to add another time field, you can add it to the Filters, something like: `DOB:[1900-01-02T16:50:51Z TO 2015-04-24T17:50:51Z]`. This should work with all time modes: _Relative_, _Absolute_ and _Since_.

[2015-05-06 15:52] aeddaifi opened #176 "Customize colors in Terms panel ?"
Hello,
I'd like to know if is it possible to customize colors in Terms panel ?
For example, I have a panel showing the number of calls by Country, I would like to define a different color for each country.
Defining colors is made possible for the Query panel, but I could not find anything similar for Terms panel.
Thanks in advance !

[2015-05-06 16:53] Joongho opened #177 "bettermap script error"
Hi, I have javascript error when using bettermap.
because some data have 'Coordinate Field' but some data don't have.

In that case, javascript error occurred.

How about Null check and set 'default' value when field does not exists?

Here is my work.

bettermap/module.js : 191
                   // if hit[$scope.panel.field] null, split make error and bettermap rendering fail by jchoi

[2015-05-08 13:09] aadel commented on #176
Hi @aeddaifi there's an option at the bottom of the Terms panel settings to customize colors "Default Colors for Chart". Colors, in hexadecimal, are assigned respectively to bars/pie segments, i.e. the first color goes to the 1st top, second goes to the 2nd top and so on.

[2015-05-14 09:18] fxprunayre commented on #151
This looks to be fine now. Not sure what has changed.

[2015-05-14 09:18] #151 closed, assigned to nobody

[2015-05-14 18:22] harshinim opened #185 "Remove panels event handling"
When I remove a panel like facets panel, the filtering applied by these panels don't get removed and will have to be removed manually - is it possible to handle or trigger an event on removing panels which can be used to do the cleanups like removing filters added etc.,?

[2015-05-22 15:49] joel-bernstein opened #194 "SQL Support"
Hi,

Hoping to have basic SQL aggregations ready for Solr 5.3. Wondering how hard it would be to add a panel for this in Bannana?

Here is the Solr ticket:
https://issues.apache.org/jira/browse/SOLR-7560

[2015-05-22 15:51] nickvasilyev commented on #194
Sounds interesting, but hard to say without additional details.
On May 22, 2015 11:49 AM, "Joel Bernstein" notifications@github.com wrote:

[2015-05-22 15:53] joel-bernstein commented on #194
I'm also hoping to have a very basic JDBC driver. So you could start planning around this. For Solr 5.3 it will be very basic JDBC support: create connection, create statement, run query, iterate result set.

[2015-05-22 16:06] nickvasilyev commented on #194
You mean solr will connect to a database, run a sql query at query time and
return the result set as a regular solr reault?
On May 22, 2015 11:53 AM, "Joel Bernstein" notifications@github.com wrote:

[2015-05-22 16:40] joel-bernstein commented on #194
No the plan is for a JDBC client to connect to Solr and Solr will execute the query against across SolrCloud collections. No database involved. This is a SQL interface to Solr.

[2015-05-22 19:16] nickvasilyev commented on #194
I see, thank you for clarifying... whew, glad I was wrong there :)

This looks very interesting, assuming we can run GET requests on the
collection and process them SQL style, we could do a lot. Especially if it
allows for joins too.

Another thing that would really help with this is being able to run nested
aggregations in Solr Facet Pivots, as well as being able to do a facet
pivot on date range

[2015-05-22 20:13] joel-bernstein commented on #194
No joins in the initial release but the underlying architecture supports joins.

The main thing that will be supported in the initial release is group by aggregate queries:

select fieldA, sum(fieldB), min(fieldC) from tableA where X=Y GROUP BY fieldA

A GET interface will be available along with the basic JDBC driver. The GET interface will return JSON.

[2015-05-22 20:19] joel-bernstein commented on #194
Multi-dimension aggregates will also be supported:

select fieldA, fieldB, sum(fieldC), min(fieldD) from tableA where X=Y GROUP BY fieldA, fieldB

[2015-05-23 21:14] aadel commented on #194
Sounds interesting! Currently, almost all Banana requests are sent to `/select` which is supported in SolrJS layer but adding other handlers for this feature shouldn't be a problem once the GET interface specs is available.

[2015-05-23 23:32] joel-bernstein commented on #194
Ok great. I'll post the GET interface specs as soon as they are finalized.

[2015-05-28 15:53] #52 closed, assigned to nobody

[2015-05-29 13:07] mariusneo opened #198 "Update installation guide for solr-5.1.0+"
I've tried to perform an installation of banana to see how it works with solr (version 5.1.0) and had several issues.

The correct location within solr-5.1.0 where the banana _directory_ has to be placed is actually
$SOLR_HOME/server/solr-webapp/webapp/

It is worth mentioning that in this case the banana/WEB-INF directory is not actually necessary anymore.

I've tried to install banana on an exte

[2015-05-29 14:55] aadel commented on #198
Thanks for pointing this out. In the meantime, there's another _"easier?"_ approach to run Banana on Solr 5.0+ which is to run `ant` then copy the build WAR file to `server/webapps` and create a new context for Banana under `server/contexts` directory. The URL should be something like _http://localhost:8983/banana_.

In case of running against remote Solr instance, CORS correspondning directories

[2015-05-29 15:27] mariusneo commented on #198
@aadel thank you for the tip.
I've created a separate context for banana within $solr_home/server/context/banana-jetty-context.xml file with the content

[code]

Indeed I can now run the banana application on the same jetty server used for the Solr instance under the link : http://localhost:8983/banana/#/dashboard

I moved the jetty libraries (jetty-servlets and jetty-util) to `server/solr-webapp/

[2015-05-31 18:53] aadel commented on #198
@mariusneo please check the updated [guide](https://github.com/LucidWorks/banana/tree/develop/resources/enable-cors), paths and Jetty JAR's are slightly different under Solr 5.

[2015-05-31 19:00] mariusneo commented on #198
@aadel  thank you for the tip regarding the position of the cors filter (right after the web-app element). This was the thing that I missed.

[2015-05-31 19:00] #198 closed, assigned to nobody

[2015-06-01 15:10] jbrucher opened #200 "Panel Map: Height problem under IE 9-11"
Hi,
found a bug within Banana for the panel "map". In IE 9 - 11 the panel height or row height is not recognized probably and therefor a default height of 20px is always set.
So the statement:
`<div class="jvectormap" map params="{{panel}}" style="height:{{panel.height || row.height}}"></div>`
(https://github.com/LucidWorks/banana/blob/release/src/app/panels/map/module.html#L62)
should be changed

[2015-06-01 16:12] aadel commented on #200
Hi @jbrucher a PR to `develop` branch is welcome!

[2015-06-01 18:53] lewismc opened #201 "Publish Banana WAR to Maven Central"
Hi Folks,
We are interested in being able to pull down a Banana WAR file with Maven and have it packaged and ready to go as part of a distribution.
I have been working on the Maven Ant tasks which would produce the WAR artifact, sign it and publish it to OSSRH which would then enable us to sync it over to Maven Central.
I would just like for you guys to verify a couple of things for me before I be

[2015-06-01 22:16] lewismc commented on #201
Hi Folks, I've gone ahead and created a ticket for a repository to be created for Banana on OSSRH.
https://issues.sonatype.org/browse/OSSRH-15831
I'll report back here with all updates.

[2015-06-02 10:35] jbrucher commented on #200
Hi @aadel the PR can be found here: https://github.com/LucidWorks/banana/pull/204

[2015-06-02 13:22] aadel commented on #201
+1

[2015-06-02 15:55] lewismc commented on #201
Hi Folks, we are ready to push a .war artifact to Maven Central.
Joel Orlina has set us up and configuration has been prepared, so we can:
- Deploy snapshot artifacts into repository https://oss.sonatype.org/content/repositories/snapshots
- Deploy release artifacts into the staging repository https://oss.sonatype.org/service/local/staging/deploy/maven2
- Promote staged artifacts into repository 'R

[2015-06-02 16:04] lewismc commented on #201
Banana Project 1.5.1 artifacts have been released and will be available in Maven Central once the sync from OSSRH is complete folks. I'll update here once they have been sync'd.

[2015-06-02 16:19] aadel commented on #200
Merged

[2015-06-02 16:19] #200 closed, assigned to nobody

[2015-06-03 14:53] jblang commented on #148
Any update on the release date for Banana 4?

[2015-06-09 23:50] davidfmiller opened #207 "Support translated field names in Banana"
Currently raw field/facet names are displayed throughout the panels, but it would be nice to support a simple map from field/facet names in the index to human-friendly labels. See attached screenshot for an example illustrating this case.
![screen shot 2015-06-09 at 4 47 23 pm](https://cloud.githubusercontent.com/assets/12614/8072207/ae4fc91c-0ec7-11e5-97b1-ea42222e02b4.png)

[2015-06-10 00:05] davidfmiller commented on #207
I'm happy to tackle this feature myself with guidance/supervision from the project maintainers!

[2015-06-10 11:03] jbrucher opened #208 "Question for the panel "Map""
Hi there,
For the panel map there are 3 kinds of map types: World, USA and Europa.
If you have a field like “country_code” with a 2 letter country code in it and one of the values is for e.g. “CA”. If you select the map world than CA is treated as Canada, but if you select USA than its California which will be marked.
Of course the panel itself is doing right, as the documentation stated:
A map pa

[2015-06-10 20:53] davidfmiller opened #209 "Include dashboard title in HTML page title"
It's currently hardcoded to "Banana {version}". It would be nice to include the dashboard title in the page title to make browser tabs easier to identify with multiple dashboards open within the same (tabbed) browsing window.

[2015-06-11 13:36] egor1989 commented on #98
Hi everyone,
Any workaround?
The feature as it mentioned by @lardzia is really necessary.

[2015-06-11 14:16] lardzia commented on #98
Hi Egor,

You can have a look at ManifoldCF
http://www.slideshare.net/lucenerevolution/wright-nokia-manifoldcfeurocon-2011,
custom code, or a paid souscription to lucid works' products Silk or Fusion.

A successful day to all

2015-06-11 15:36 GMT+02:00 Egor Ivanov notifications@github.com:

[2015-06-11 15:14] willhayes commented on #98
Lucidworks Fusion has Banana integrated with role based access controls
On Jun 11, 2015 7:16 AM, "lardzia" notifications@github.com wrote:

[2015-06-11 15:59] egor1989 commented on #98
Thanks everybody!
Looks like for me
http://wiki.eclipse.org/Jetty/Tutorial/Realms
is enough for the moment.

[2015-06-15 18:20] athana opened #211 "Toggle checkbox in the Filter panel does not work consistently."
The toggle checkbox is supposed to turn on / off a filter condition in the Filter panel. However, it does not seem to work consistently.

![screen shot 2015-06-15 at 11 16 27 am](https://cloud.githubusercontent.com/assets/974546/8167034/71666898-1350-11e5-891d-801256e1b925.png)

[2015-06-15 18:26] athana opened #212 "Error trying to save a dashboard with '/' in the name."
The error is caused by the '/' in the dashboard name. When the dashboard is loaded, the '/' in the name will become a URL path and Banana will not be able to locate the dashboard (even though the dashboard should be saved successfully in Solr).

![screen shot 2015-06-15 at 11 20 59 am](https://cloud.githubusercontent.com/assets/974546/8167149/27f163ba-1351-11e5-8c9f-0a7386c45100.png)

![screen sho

[2015-06-16 19:53] aiguofer opened #216 "What does the "count" mode in "Terms" panel display?"
So I'm querying a field for a specific word, and I have a Term panel for the same field. From my understanding, the count of that word should be greater than or equal to the number of results (since it could be found more than once in each result). Why am I seeing this?

![selection_031](https://cloud.githubusercontent.com/assets/780934/8192984/c42f1c7e-143f-11e5-8b70-f77095c05ebf.png)

[2015-06-16 23:20] aadel commented on #216
hi @aiguofer could you post the queries of the two panels?

[2015-06-16 23:50] davidfmiller commented on #209
Filed PR to fix

[2015-06-16 23:50] #209 closed, assigned to nobody

[2015-06-17 00:55] aiguofer commented on #216
Term query:

[code]

Total hits panel:

[code]

[2015-06-17 16:06] aadel commented on #216
@aiguofer your understanding is correct. That happens due to exclusion filters are taken into consideration in Terms but not Hits and that decreases the number of Terms results which, otherwise, would have been equal or greater than, Hits.

[2015-06-17 17:53] #207 closed, assigned to nobody

[2015-06-17 18:25] aiguofer commented on #216
Ahhh... that makes sense. So I really should be adding those exclusions to my stopword list.

[2015-06-17 20:45] athana opened #218 "Sort collection names in the Collection Picker"
![screen shot 2015-06-17 at 1 45 04 pm](https://cloud.githubusercontent.com/assets/974546/8218323/20670bfc-14f7-11e5-987b-b15650bd9568.png)

[2015-06-17 21:03] davidfmiller commented on #218
I believe this is fixed in the `develop` branch?

[2015-06-17 21:09] athana commented on #218
@davidfmiller  Oh yes it does (I forgot to update) Thanks!

[2015-06-17 21:09] #218 closed, assigned to nobody

[2015-06-18 00:57] aiguofer commented on #216
might be worth adding a note on the 'exclude' box description, or changing the way it works so it removes them afterward.

[2015-06-20 16:08] aadel commented on #208
You can create two (or more) maps on the same dashboard each associated with a different field. I can't see what you exactly mean by _switching_ the maps.

[2015-06-20 20:02] davidfmiller opened #224 "Allow Data Export from Terms panel"
The `freeTextSearch` & `table` panels allow data to be exported, I'd like to add the same support to the `terms` panel. I'll refactor the modules to centralize as much of the common code as possible.

[2015-06-22 19:32] davidfmiller opened #225 "Create .editorconfig file for the repository"
There are a variety of styles in files throughout the repository (tabs vs whitespace, 4-character indents, 2-character indents, etc.). Adding an .editorconfig file will instruct supporting editors (http://editorconfig.org/#download) to respect the whitespace preferences/defaults for the repository.

http://editorconfig.org

[2015-06-22 19:33] davidfmiller commented on #225
It can be as simple as something like this:

https://github.com/davidfmiller/apples/blob/master/.editorconfig

[2015-06-23 19:37] #225 closed, assigned to nobody

[2015-06-23 19:57] davidfmiller commented on #224
Merged: https://github.com/LucidWorks/banana/pull/227

[2015-06-23 19:57] #224 closed, assigned to nobody

[2015-06-26 18:11] rdurham1007 opened #232 "Timepicker UTC"
Up until this commit 6 months ago:

https://github.com/LucidWorks/banana/commit/1701a62a58048654e086d642ac259533fa6fedae

In the timepicker module the function time_calc() was using moment.utc when getting the date from the time picker control. There are actually still comments in there saying that moment.utc actually fixes some previous bugs. However this was changed six months ago and is actuall

[2015-06-28 16:47] aadel commented on #232
Currently, timepicker module entered time is considered _local time_. While Solr stores UTC time only, timepicker time is converted to UTC before issuing the query. All panels, i.e. table, filters, ... should display UTC. Hope this makes sense,

[2015-06-28 23:00] rdurham1007 commented on #232
Right, that's what I thought it was supposed to be. However, in the change that i mentioned someone took out the .utc() function call so that when time_apply is called it uses the time as is rather than trying to convert it to utc.

[2015-06-29 14:00] aadel commented on #232
Actually, UTC conversion is done at the filter service via `toISOString()` calls which converts local time to UTC, for example lines [163](https://github.com/LucidWorks/banana/blob/release/src/app/services/filterSrv.js#L163) and [169](https://github.com/LucidWorks/banana/blob/release/src/app/services/filterSrv.js#L163) before being sent as fq's. What was happening before this commit is double conv

[2015-07-12 10:39] kkolago opened #236 "Multiple collections in one Banana dashboard"
Is it possible to use more than one collection in a single dashboard? I know that if we have separate shards of one collecion of the same structure it is possible to gather them using Solr aliases, but it would be nice to have ability to show some panels with timeseries data and also some panels with non-timeseries data in the same dashboard. I would imagine that in such situation query filters wo

[2015-07-12 16:56] davidfmiller commented on #236
+1

[2015-07-15 14:37] fxprunayre commented on #148
@athana any updates on Banana 4 repo location and release date ?

[2015-07-16 21:34] genesawyer opened #240 "ETA of Next Banana Release"
Was just curious what the anticipated timeline is for 1.6 and 2.0?

[2015-07-17 04:25] fxprunayre commented on #240
See https://github.com/LucidWorks/banana/issues/148 for similar question.

[2015-07-27 07:09] athana commented on #148
@fxprunayre @jblang @nickvasilyev @dougmcclure @bverheij @Tagar @janmejay
Update: I'm currently working on releasing the public repo for Banana4. It will be renamed and located in a new repo called [Silk](https://github.com/LucidWorks/silk). The target date is by Aug 7, 2015.

[2015-07-28 02:50] Tagar commented on #148
I like the new repo name. thanks!
will it be the same as the commercial Silk product?
https://lucidworks.com/fusion/silk/

[2015-07-28 02:53] athana commented on #148
@Tagar Yes, it will be the same.

[2015-07-29 06:31] janmejay commented on #148
Awesome!

##

Regards,
Janmejay

PS: Please blame the typos in this mail on my phone's uncivilized soft
keyboard sporting it's not-so-smart-assist technology.

On Jul 28, 2015 8:23 AM, "Andrew Thanalertvisuti" notifications@github.com
wrote:

[2015-08-04 06:04] amsterdamharu opened #244 "Terms query using 'either' for mandate is ignored in non time series dashboard"
First off; thank you Andrew, great job on this port. I have just started to work with it and trying to make a .NET MVC API layer so banana can get it's data from SQL server (will only implement parts I need of the full API).

While using banana on Solr and trying to see how it communicates I tried to create a panel where I can select several years and months. This would be used in a term query. Fo

[2015-08-07 07:26] athana commented on #148
@fxprunayre @jblang @nickvasilyev @dougmcclure @bverheij @Tagar @janmejay
Update: [Silk](https://github.com/LucidWorks/silk) is ready. I'm just waiting for approval to open the public access from my company. This should only take a few days. Stay tuned guys!

[2015-08-07 07:33] janmejay commented on #148
Wonderful! looking forward to it.

On Fri, Aug 7, 2015, 12:57 PM Andrew Thanalertvisuti <
notifications@github.com> wrote:

[2015-08-08 00:56] ac7ionabl3 commented on #148
Should we expect any performance enhancements? E.g. faster display on reload, or when the dashboard has numerous panels, or faster display for individual panels?

[2015-08-11 19:50] jblang commented on #148
@athana Any update? Sorry to bug you about this but I'm working on a project and I'm trying to decide to go with Banana 1.5 or wait for Silk.

[2015-08-12 08:18] athana commented on #148
@ac7ionabl3  There might be some performance enhancements, mostly due to the use of newer versions of JS libraries.
@jblang No problem, and sorry about the delay. Currently my team is reviewing the Silk repo and revising documentations. I think it should not take more than a week or two.

[2015-08-19 16:14] elvissuarez opened #245 "panels personalization"
Is possible to change text labels in all panels? would you say me how it is possible? thanks

[2015-08-20 20:07] elvissuarez opened #246 "Various Dashboards"
Can I create various dashboards in same project?, I want save other different dashboards. e.g. every dashboard with different source collection.

Thanks so much

[2015-08-26 00:22] CaryBourgeois commented on #148
Any updates on availability at this point?

[2015-08-28 15:15] suhyunjeon commented on #246
Sure.
You can save each other dashboards from JSON files.
Follow this actions.
1) Create a dashboard 1
2) Save to file 1 (export json)
3) Craate a dashboard 2 and so on.
4) Save to file 2

[2015-08-28 15:32] suhyunjeon commented on #148
I am waiting SiLK next version!

[2015-08-31 09:54] rdubreui commented on #176
Yes, but if your 1st top and 2nd top are not the same after 10 minutes and that your term changes its colours many time and an object marked blue can be green…in my opinion, it is very counterproductive.
Can we associate a colour to a value ?

[2015-08-31 10:03] rdubreui opened #247 "Add a custom query"
I have created a custom panel which is composed of a select form. I want to get the selected value and put it in the "custom query" field of my panel (just this for now).

In fact, I want to create a custom query panel which will change the "custom query" field of every panel on the dashboard, but it will turn with selected values.

For the time being, I tried to put a variable (which contains the

[2015-08-31 14:01] elvissuarez commented on #246
Its Dashboards could be charged in Banana by the URL?
thanks

[2015-09-01 13:37] jblang commented on #148
@athana Any update?

[2015-09-01 15:25] amsterdamharu commented on #246
In /solr/solr-5.2.1/server/solr-webapp/webapp/banana/src/app/dashboards/somefile.json you can open your dashboard with .../index.html#/dashboard/file/somefile.json

When you choose save it will be saved to where your browser downloads files, you can opt to save into solr but  need to create a collection for that, I'm have not come round to trying that yet.

[2015-09-01 15:52] rdubreui commented on #247
I have changed my plan. Now, I want to copy the filtering panel principle. But I don’t know how it ads filters to the dashboard. Which files does it need and use ?

[2015-09-01 16:30] elvissuarez commented on #246
thank you so much, it works perfect. I have proved it already and it works that i want.

now, I want to know if we can change the collection also in the url

thanks for help me, regards.

[2015-09-01 17:21] nickvasilyev commented on #247
Hi,

Have you looked into the filterSrv angular service?

On Tue, Sep 1, 2015 at 11:52 AM, rdubreui notifications@github.com wrote:

[2015-09-02 09:00] rdubreui commented on #247
I have seen this service right now. I am not sure that to see the structure of this manager function will help me, but I will check it out more deeply.

I think the answer is in the "this.set" function (of filterSrv.js), maybe someone can agree that.

But I really don’t understand why, in the filtering/module.html there is no parameter in the "add()" !!!

Just for set up my issue, I want that when

[2015-09-02 16:45] amsterdamharu commented on #246
If I'm not mistaken that is in the top right corner setting under the solr tab. After setting it save and check for the json in your browser's download directory.
So for a different collection you could save a different dashboard; for example: dashboard/file/comments.json and dashboard/file/errors.json

[2015-09-02 22:28] elvissuarez commented on #246
Thank you so much, Your information was very relevant and appropriate for me ...

best regards,
Elvis

[2015-09-04 15:12] rdubreui opened #248 "Have several dashboards"
Hi,
I want to know if you are aware of the method to use for have two or three dashboard operational ; because I’m not. u_u

My project is: I have a Menu that is implemented over index.html and on this menu, the user will choose which dashboard he want to see.

But where is the path I have to change to go to dashboards/dashboard_one.json or dashboards/dashboard_two.json ? Do I have to have two ser

[2015-09-09 20:07] elyograg opened #249 "Confusion during initial exploration"
Here's the steps I followed:
- Cloned the git repo and built the .war file.
- Installed banana-0.war into Solr 5.2.1 with a slightly modified jetty context.
- Copied the 4.5 conf directory to a new core for Solr to find.
  - Tweaked the sorlconfig.xml a little bit, but left the schema alone.
- Restarted Solr.

At this point, when browsing to /banana, I got the dashboard, and an error saying it cou

[2015-09-10 13:30] jblang commented on #148
@athana ping

[2015-09-11 10:47] rdubreui opened #250 "Attempting to create a new controller"
Hi,

I try to create a new controller for Banana, and to put it in the _app/controllers_ folder. But after create it and apply the same structure as others controllers (_dashLoader_ in fact), declare it in my HTML and _ng-controller_ my controller, _Firebug_ say to me : "define is not defined". But I have just do everything the other controllers got ! I have even declared it in the _app/controller

[2015-09-11 23:44] ac7ionabl3 commented on #148
Any news at all? Even a guesstimate?

[2015-09-15 23:31] natbusa commented on #148
waiting ... any news?

[2015-09-16 06:39] athana commented on #148
Hi guys, sorry for the delay. I just ping my management team again on this and waiting for their reply. Hopefully they are ready to release it soon! I'll keep you posted.

[2015-09-18 22:56] Lannyland opened #251 "Not applying correct time filter to logs"
I am on MDT. We are using 1.5.

When I filter using time window
09/16/2015 23:00:46 to 09/17/2015 00:30:00
and apply the filter, I always get the following filter instead:
field : event_timestamp
from : "2015-09-16T05:00:46.000Z"
to : "2015-09-17T06:30:00.000Z"

See attached screen capture of the problem.
![2015-09-18-01](https://cloud.githubusercontent.com/assets/770444/9972803/2ba6e690-5e26-11e5

[2015-10-08 15:30] jblang commented on #148
Hey, it's been another 3 weeks since your last response. Just wanted to check in and get a status update.

[2015-10-08 21:34] elvissuarez commented on #248
for call diferent dashboards try

BANANAURL/index/dashboar/file/mydashboard.json

remember that mydashboard.json must be in BANANADIR/app/dasboards directory

[2015-10-08 21:36] elvissuarez opened #253 "Export dashboard results to CSV or XML is posible?"

[2015-10-09 21:48] rajeshbabu999 commented on #148
Hi athana, Thank you for this great addition to SOLR. I installed banana and it looks, works great  can't ask for anything more i thank you and your team for all your effort. This is like open source tableau on top of hadoop.

[2015-10-11 17:33] natbusa commented on #148
what are the plans for the silk repo?
Or should I keep following the banana repo?
is branch 1.4.0 a port of kibana 4?

[2015-10-11 18:04] natbusa commented on #148
what are the plans for the silk repo?
Or should I keep following the banana repo?
is branch 1.4.0 the port of kibana 4?

[2015-10-16 17:21] jdrews commented on #148
@natalinobusa Banana 2.0 is a port of Kibana 4. They haven't released 2.0 yet.

[2015-10-19 22:57] athana commented on #148
Hi guys, the silk repo is ready! You can now access it at: https://github.com/LucidWorks/silk
Thank you for your patience. @bverheij @dougmcclure @jblang @natalinobusa @suhyunjeon @fxprunayre @janmejay @Tagar

[2015-10-19 22:57] #148 closed, assigned to nobody

[2015-10-26 08:09] ckreddybh opened #254 "Can we use banana.war at Enterprise level for free"
As  licence at github says
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0

So it means we can use the banana.war at our business level or we should buy any commercial licence

[2015-11-04 07:22] majidkabir commented on #98
Hi
I write a simple java application for this problem, and the mechanism of this application is so simple.
For all of the addresses that will be used in banana I write my own servlet.
/admin/cores
/mycore/select
/mycore/admin/luke
when the query sent to this servlet I checked this query with tow parameter that added to banaba dashboard setting "Global Query Parameters" &user=username&pass=password

[2015-11-11 09:10] athana opened #255 "Allow group-by in the count mode of Histogram panel."
Currently, the 'count' mode in Histogram panel cannot do group-by field, this is only allowed in the 'values' mode. For example, the use case here is to plot event counts and group-by id field over time.

[2015-11-13 03:25] athana opened #256 "Support JSON Facet API (stats features) in Solr 5"
This feature will greatly improve analytics and stats capabilities in Banana.

References:
https://cwiki.apache.org/confluence/display/solr/Faceted+Search
http://yonik.com/json-facet-api/

[2015-11-16 12:49] nickvasilyev commented on #250
If you are still working on this; please post a code snippet.

[2015-11-16 12:50] #167 closed, assigned to nobody

[2015-11-16 13:33] rdubreui commented on #250
Thanks, but I decided to use this method https://github.com/LucidWorks/banana/issues/246.

[2015-11-20 16:04] pjmccarthyjr opened #257 "Generic help / issue"
Sorry this is going to be a bit of a stupid question.  About 6 months ago I setup solr/banana and everything was working great.  I had a dashboard it was working well - it was mostly a POC.  So i didnt touch it for a while and just was tasked with setting up another dashboard.  I fired up solr and went to the existing dashboard and it keeps defaulting back to the /solr/collection1 collection and g

[2015-11-20 16:07] nickvasilyev commented on #257
Not a stupid question.

What I would start with is to check the Dev tools in your browser to see what network requests are going out and check to see if any of them are failing or returning bad data.

[2015-11-20 17:47] pjmccarthyjr commented on #257
so that returns errors about not being able to find collection1.  I change the collection to a valid collection and refresh the page and it immediately goes back and looks for collection1.  It looks like its not saving my changes to the dashboard.

[2015-11-20 17:48] nickvasilyev commented on #257
You have to change the collection the dashboard is pointing to and save the
dashboard.
On Nov 20, 2015 12:47 PM, "pjmccarthyjr" notifications@github.com wrote:

[2015-11-20 17:54] pjmccarthyjr commented on #257
correct, but its not saving the change - its looking for banana-int(i think)

angular.js:9499 POST http://xxx-xxx-xxx.com:8983/solr/banana-int/update?commit=true 404 (Not Found)(anonymous function) @ angular.js:9499sendReq @ angular.js:9333$http @ angular.js:9124$http.(anonymous function) @ angular.js:9279sjs.client.post @ solr-angular-client.js:65doIndex @ solr.js:8909elasticsearch_save @ dashboa

[2015-11-20 17:55] nickvasilyev commented on #257
That's the issue right there, make sure solr works and it has that
collection.
On Nov 20, 2015 12:54 PM, "pjmccarthyjr" notifications@github.com wrote:

[2015-11-20 17:57] pjmccarthyjr commented on #257
I am pretty sure solr is working, I thinks its just missing that collection, so I need to figure that out.

Thanks for your help

[2015-11-20 18:00] nickvasilyev commented on #257
Yea, make it, there is a schema you need to use on github .
On Nov 20, 2015 12:57 PM, "pjmccarthyjr" notifications@github.com wrote:

[2015-12-04 07:53] athana commented on #201
Thanks @lewismc  I merged your PR https://github.com/LucidWorks/banana/pull/203 into `develop` branch.

[2015-12-04 07:54] #201 closed, assigned to nobody

[2015-12-04 07:54] lewismc commented on #201
Thank you @athana

[2015-12-04 07:55] athana commented on #254
@ckreddybh  Yes, Apache license allows us to use it for free.

[2015-12-04 07:55] #254 closed, assigned to nobody

[2015-12-04 17:51] pramodrangaraju commented on #236
Wish to see this live. Would like to contribute if someone has started working on it.

[2015-12-30 04:47] venkata81 opened #260 "How to create auto complete keyword search for query panel search box"
Hi can some one help me how to create auto complete search feature for query panel text box. That means when ever user type in the text box then it should trigger the solr then get matched keywords to the user as suggestions like google search box.

I worked on jquery but I am not able to get it work on banana dashboard which has angular in it.

Thanks

[2016-01-20 15:38] piiotrr opened #261 "Embed graph in another site"
Hi, is there a way to embed Banana graphs in another site? It would be great to be able to embed some results and visuals in another web application.

[2016-01-20 15:47] fxprunayre commented on #261
Not a perfect solution, but we are using Iframes with this PR https://github.com/LucidWorks/banana/pull/241 to embed dashboard without admin functionalities in CMS pages.

[2016-02-01 02:07] ram-codez opened #262 "Getting average number of hits for the time period selected"
I am able to show the hits for a specific query, and also was able to use histogram to show the counts based on time interval. However, if I want to get the "**average number of hits for the same time period**" - how to achieve this.

I am aware that the stats component can help with average, but that is if the field is numeric(which is understandable). This requirement is combining the date range

[2016-02-13 15:10] nattaylor opened #263 "Loading custom dashboard from Solr fails"
I am having trouble with opening dashboards saved in Solr.  Instead of opening, a blank black page is shown.  Here are some details.  Any help appreciated.
# Environment
- Banana v1.5.0
- Solr 5.4.1
- Chrome 49.0.2623.47 beta (64-bit) (Also tested in FF)
# Recreate
1. Create a new dashboard
2. Save it to Solr

At this point, it reloads and fails.  I can go back "home", and the default dashboard lo

[2016-02-17 16:49] athana commented on #263
Hi @nattaylor Can you try to use this schema.xml and solrconfig.xml to create the `banana-int` collection for storing the saved dashboard?
https://github.com/lucidworks/banana/tree/develop/resources/banana-int-solr-5.0/conf
I think the schema for Solr 4.x does not work with Solr 5. Also, from the response, it seems that you are using multivalues fields which will cause the problem when trying to l

[2016-02-18 13:06] nattaylor commented on #263
Hi @athana, that appears to have resolved it.  I recreated the collection with 5.0 `conf/`, created a dashboard, saved it to Solr, and it works.  I haven't further tested my multivalued fields, but now I will know to expect issues.  Thank you for your help!

[2016-02-18 13:06] #263 closed, assigned to nobody

[2016-03-04 23:28] kkolago opened #265 "Update of vendor JS libraries"
Hi,

Are you planning to update the versions of Javascript vendor libraries that are used in Banana? I think that updating some of them (especially Bootstrap and AngularJS - versions used in Banana are several years old by now; Kibana is now using newer packages AFAIK) would be beneficial, as it would allow users to construct new panels using many new features introduced in newer versions of these

[2016-03-06 08:54] eldryoth opened #266 "1.6.0 release names war file 1.5.1."
Hello,

I noticed that when you build a war file for the 1.6.0 release it names it actually 1.5.1 see below.

This are the steps I perform:
wget https://github.com/LucidWorks/banana/archive/v1.6.0.tar.gz
tar xvzf v1.6.0.tar.gz
mkdir -p /home/ulyaoth/banana-1.6.0/build
 cd /home/ulyaoth/banana-1.6.0
ant

result is:
Buildfile: /home/ulyaoth/banana-1.6.0/build.xml

build-war:
      [war] Building war

[2016-03-06 17:38] aadel commented on #265
Hi @kkolago dev-2.0 branch has many libraries updated (including Bootstrap and AngularyJS); however,  please note that it works in standalone mode and requires NodeJS.

[2016-03-08 09:45] athana commented on #266
Fixed. Thanks @sbagmeijer

[2016-03-08 09:45] #266 closed, assigned to athana

[2016-03-20 06:32] krantiparisa commented on #256
+1 for this request

[2016-03-21 12:30] fxprunayre opened #268 "i18n"
Is there any interest on localizing the application ?

What I'm considering actually is:
- use https://angular-translate.github.io/
- localize the application and panels
- add a tab in banana configuration to set label and description for all fields in a collection. This will produce a JSON file (one file per collection) saved in the dashboard collection and loaded when a dashboard use a specific

[2016-03-22 07:44] aadel commented on #268
+1 I think localizing application and panels would be a nice feature to have. However, for fields, I think that having localization for entities (fields values), such as dates, times, currencies, etc, would be more valuable than localizing fields.

[2016-04-07 06:31] fxprunayre commented on #268
@aadel thanks for the feedback. What would be the best branch to work on for this ? I've been using dev-2.0 so far with some pending PR https://github.com/lucidworks/banana/pulls/fxprunayre targeting it too but maybe that's not the best branch to work on.

[2016-04-28 07:52] sohel2020 opened #271 "banana server Out side of solr instance"
Fail to enable **CORS**. I'm using solr 5.3.1. When i copied over file according to below link
https://github.com/lucidworks/banana/tree/release/resources/enable-cors
and restart solr. Then solr won't start anymore. If i delete those 2 jetty file then solr starts normally.

Without enabling  **CORE** banana has failed to retrieve the core / collection list.

[2016-05-03 12:28] fxprunayre opened #272 "Spatial panel for filtering/heatmap/thematic mapping"
Not sure if this is of interest for Banana https://github.com/INSPIRE-MIF/daobs/issues/54 ?

If yes, let me know which branch should be targeted and I could create a PR for this.
- filter mode

![image](https://cloud.githubusercontent.com/assets/1701393/14983082/2862906a-113b-11e6-8874-3cd7f94c3042.png)
- heatmap mode

![image](https://cloud.githubusercontent.com/assets/1701393/14983085/30a6453c-1

[2016-05-06 06:21] fxprunayre commented on #268
If any interest, here is the initial work on this https://github.com/INSPIRE-MIF/banana/pull/3.

[2016-05-09 16:25] yeeplusplus commented on #271
What error do you see in your solr server log when trying to start solr?

[2016-05-09 18:01] yeeplusplus opened #273 "grunt uglify in dev-2.0"
1. In the `dev-2.0` branch, grunt-contrib-uglify is set to 0.7.x, and in the `develop`, `release`, and `release-1.6.0` branches it is set to 0.11.x.  This causes the `grunt uglify` step to fail, because the older version of this plugin doesn't recognize `compress:true` in the options.  To fix this, you can either set the compress option to `{}` or specify the newer version in `package.json`.
2. In

[2016-05-10 15:00] akkisabby opened #274 "Integrating Solr Banana with Liferay Portal"
I have developed a Banana Dashboard where in I have a search box to query the dashboard. But I wanted to know, is there a way I can integrate Banana and Liferay in such a way that I have a search box in Liferay Portal, and when I search for something on Liferay , the search query should be consumed by Banana and it should display the corresponding dashboard in Liferay portal itself.

Any inputs wi

[2016-05-26 10:07] zhangzy0317 opened #275 "one Dashboard and multiple Solr core"
**[Prerequisite description]**
  1 . one  Dashboard
  2 . one  Solr  server
      ※multiple core ：collection1,※ (index:id=001)
      　　　　　　　　collection2,※ (index:id=002)
      　　　　　　　　collection3,※ (index:id=003)
      　　　　　　　　collection4 ※ (index:id=004)
**[expect result]**
    example：The index data (id:001~004) is displayed in the same  pie chart at the hits panel
**[question]**
    Is there  a

[2016-05-27 13:24] yeeplusplus commented on #275
Have you tried listing them in the `solr.server.core_list` object in the dashboard's JSON?

[2016-05-28 06:42] capetonian commented on #236
I have to solve this for a project I'm working on, so I'm happy to pass my code back into the project when I'm done - I'd really appreciate an indication though if I'm on a fool's errand.

In the code at present, there is a strong 1-to-1 correlation of dashboard to collection - My current thinking is I have an abstraction model which allows for the collections to be pushed into an array, and then

[2016-05-28 08:21] zhangzy0317 commented on #275
Thanks for your answer.
But I can not understand .
So I modified the question .
Please check it again.

[2016-05-28 08:35] eldryoth opened #276 "Banana 1.6.8 tag misses build files."
Hi the Banana 1.6.8 tag release tar.gz file seems to be missing the following two files:
build.xml
default.properties

So it won't build unless you add them manual.

[2016-05-29 16:27] yeeplusplus commented on #275
Post your dashboard file

[2016-05-30 00:26] zhangzy0317 commented on #275
Sorry. Upload file is prohibited in the company's network. Upload error.
My dashboard is just a very ordinary file.
Thanks  very much for your answer.

[2016-06-02 08:02] zhangzy0317 commented on #275
Yeeplusplus . Thanks for your help.
My question is solved.
solved method:use [slorcloud ]or [Multiple Cores]. Don't modify banana tool.
Thanks for your answer.

[2016-06-02 08:02] #275 closed, assigned to nobody

[2016-06-03 13:54] EungsopYoo commented on #177
Add the custom query for bettermap like this.
`&fq=locationField_0_coordinate:[* TO *]`

This way works well, too.

http://stackoverflow.com/questions/10722145/solr-how-do-i-construct-a-query-that-requires-a-not-null-location-field

[2016-06-06 10:15] orithena commented on #274
I'd solve that by writing a portlet for Liferay, or hooking into Liferay's search portlet. I don't see how that use case is achievable without writing a Liferay plugin..

[2016-06-07 13:11] fpousserot commented on #236
Hi capetonian, i'm happy to test your code for multiple collecton project !

[2016-06-07 13:21] fpousserot commented on #34
Hi all,
Have you made ​​progress on multiple facet search/select functionality ( and & or ) ? how to implement it ? Thank you

[2016-06-13 12:46] covolution commented on #201
Banana 1.6.0 doesn't seem to be in maven central

[2016-06-13 16:55] lewismc commented on #201
@covolution I would assume that the deploy target has not been added to the release process!

[2016-06-14 17:20] jayurbain commented on #255
It would be nice to do this for the terms panel as well, i.e., group-by.

[2016-06-15 02:09] jayurbain opened #277 "Solr 5.4.1 cloud mode not recognizing changes to banana panels"
Sorry, I realize this is a basic question.

I'm having difficulty having Banana (Solr 5.4.1 cloud mode) recognize the addition of new panels, deletion of existing panels, or modifications of existing panels.
- When I place the banana distribution under webapps, and restart solr, Banana works fine.
- If I add or remove a panel reference in the "panel_names" list in config.js and restart solr it is

[2016-06-15 09:37] jayurbain commented on #277
I was incorrectly clearing Chrome's browser cache.

[2016-06-15 09:37] #277 closed, assigned to nobody

[2016-07-29 08:04] earun46 opened #283 "facing an issue Failed to create field <event_timestamp> -"
Hi ,

I am trying to setup SiLK . Solr is up .

While setting up , logstash from the instructions provided by lucidworks, i get below error.
a***\* bin]$ ./logstash --configtest -f lw_solr.conf

The error reported is:
  Failed to create field <event_timestamp> -

Not Found

[2016-08-10 04:10] athana commented on #283
you have to look inside lw_solr.conf, specifically, at grok regex pattern and see if your log file contains the matching event_timestamp field. This error could mean that your log does not match the regex.

[2016-08-18 18:51] jbohl opened #284 "Term Frequency Graph"
Hi all,

I am trying to graph term frequency of all my indexed documents using the terms panel. Unfortunately, the bar graph only shows me the count of documents in which each term appears instead of the number of times each word appears in all the indexed documents' specific field. The field I am trying to graph is defined in the schema.xml file as:
   <field name="terms" type="text_general" inde

[2016-09-23 13:29] nickvasilyev opened #285 "Accessibility Issue Mitigation (508)"
I am running into some problems with deploying Banana. I work for a U.S government agency and they require software to comply with Section 508 requirements for accessibility. Obviously someone who is blind is not going to be able to view a bar chart or a histogram, so to provide them at least some data, we usually set up a second dashboard (json) and render all term panels as tables. The screen re

[2016-10-11 08:19] harshit0 opened #287 "Moving Average Timeseries"
Is it possible to do average over the numeric values in Histogram ( timeseries ) panel called as Moving Average Timeseries.
If not, wouldn't it be great to have a stats model in this.

[2016-10-21 20:13] karanjeets opened #288 "Update Banana 1.6.12 into Maven Central"
Can you please update the Maven Central with the latest version of Banana?

https://mvnrepository.com/artifact/com.lucidworks/banana

[2016-11-07 13:23] gvincebzh opened #290 "countDistinct is not available for hits stats in version 1.6.12"
The release note of 1.6.12 announced that the request [https://github.com/lucidworks/banana/pull/269] is included. But finally is not available. And It will be homogeneous to add this feature to all panels.

[2016-11-22 07:33] alxgomz opened #291 "Versions of solr"
Any change banana would work on on solr 1.4?

[2016-11-22 07:47] prabhuthil opened #292 "world map is undefined"
worldmap parameter passed as 'Undefined'.

In map/module.js

function (angular, app, _, $, worldmap) {

worldmap is undefined.

Please help me to solve this issue.

[2016-11-22 12:32] dsmiley commented on #291
A request for Solr 1.4 -- wow!  Memory lane.  Try for yourself I guess.  There's actually a good chance it'll work given Solr's extreme adherence to backwards compatibility.

[2016-12-08 11:47] souravprakashjena opened #294 "Error while loading the index,html file"
when i am loading the index.html file at that time page is loaded but no charts are shown .Irs showing a error that : **Error Could not contact Solr at localhost:8983/solr/. Please ensure that Solr is reachable from your system.**

I am using solar 6.1.0 version

Please find the screenshot below

![image](https://cloud.githubusercontent.com/assets/13752535/21008953/22b347c8-bd6a-11e6-9c14-25a63b7e

[2016-12-08 23:15] aadel commented on #294
Are you sure that Solr is up and `http://localhost:8983/` is accessible?

[2016-12-09 04:37] souravprakashjena commented on #294
Yes it is up....can u please help me out???

[2016-12-09 04:45] souravprakashjena commented on #294
In browser console its showing the following error.

![image](https://cloud.githubusercontent.com/assets/13752535/21038018/565130fc-bdf8-11e6-838c-a58625c9e966.png)

[2016-12-09 06:16] aadel commented on #294
Which version/branch are you using? Form the last screenshot, the URL `%3172.25.1....` seems weird. Looks like a typo somewhere.

[2016-12-09 06:28] souravprakashjena commented on #294
Banana v1.6.0

[2016-12-09 06:57] aadel commented on #294
Looks like the "Server" value in Dashboard Settings is misconfigured. Try removing the `IP:port` portion and just leave the path `\solr\`.

[2016-12-09 06:59] souravprakashjena commented on #294
ya that got fixed ....thanks a lot.....Do you have any extra documentation regarding execution flow of banana??

[2016-12-09 08:09] aadel commented on #294
Welcome! The default dashboard text panels (at the top) give a good overview for starting points and how to proceed.

You may also check the official [docs](https://doc.lucidworks.com/lucidworks-hdpsearch/2.5/Guide-Banana.html) for panels reference.

This [wiki page](https://github.com/lucidworks/banana/wiki/Tutorial:-How-to-Build-a-Custom-Panel) explains how to create custom panels.

[2016-12-10 08:38] #294 closed, assigned to nobody

[2016-12-12 14:38] jetnet opened #295 "Cannot store a dashboad when using a remote server"
hi guys!

I'd like to have a dedicated small solr instance for Banana (v1.6.11) only (localhost:8111) and a working Solr instance with data (localhost:8008):

config.js
[code]

and the config of a dashboard:
Solr Server / Fusion Query Pipeline: ```http://localhost:8008/solr/```
Collection Name: ```project```

The UI (http://localhost:8111/solr/banana/index.html) can connect and visualize data from

[2016-12-12 15:20] mosuka commented on #295
Hi @jetnet ,

That problem is probably resolved in 1.6.12. Please see following PR:

https://github.com/lucidworks/banana/pull/279

[2016-12-12 15:49] theyaa opened #296 "Banana unable to load collection inside the dashboard for very large datasets"
Hi,
    I have a dataset that is over 1 billion records and I would like to be able to build some visualizations on top of it. I created a new non-time series dashboard and selected the collection to use. But, the totals panel keeps spilling for hours and never loads the records count and I can not pull any of the fields inside any panel.

   Can banana handle large datasets like this? or is it ai

[2016-12-12 16:01] jetnet commented on #295
hi @mosuka,

First of all thank you for the fast reply!
it's very interesting! It turned out, I'm already using the latest DEV release of Banana.

So, it is not a bug, it is a feature? Why dashboards should be stored in a "remote" instance?
From my point of view, it worked correctly before #279 - the dashboards were stored in the *local* Banana instance. I thought, this is the way how it should wo

[2016-12-12 17:19] mosuka commented on #295
Banana (localhost:8111) visualizes the data of connected Solr (localhost:8008). Also, it stores dashboard settings to the same Solr (localhost:8008).

[2016-12-12 17:35] jetnet commented on #295
So, could you guys please confirm, that storing Banana dashboards in a *dedicated* solr instance is __not__ supported by design?
Thank you!

UPDATE:
I have an environment with a lot of stand-alone single core Solr instances (one instance - one core [or collection]) and adding another "banana" core for every Solr instance is not an option.
So, it'd great, if Banana could be configured where the int

[2016-12-15 00:48] aadel commented on #295
hi @jetnet the current version of Banana does not support storing/loading dashboards from local server as per https://github.com/lucidworks/banana/pull/279, but check PR https://github.com/lucidworks/banana/pull/297 that would give an option to store/load dashboards from either local or remote servers based on settings.

[2016-12-15 11:54] jetnet commented on #295
fantastic! thanks a lot!

[2016-12-15 11:54] #295 closed, assigned to nobody

[2016-12-16 12:38] aadel commented on #296
Hi @theyaa here are some insights. The performance of a dashboard depends on its complexity. Some of these factors are the number of panels in the dashboard, the type of panels used, filter queries, and a major factor is related to Solr and how it is setup and tuned. But definitely, for a dashboard with a simple hits panel, it should typically take milliseconds to be rendered even in a setup with

[2017-01-23 13:20] fpousserot commented on #290
the same issue for me. +1

[2017-02-13 12:23] profimediacz commented on #236
+1

[2017-02-27 21:04] kyleboyle commented on #251
"Z" means UTC time. The time window and histogram timeline are displayed in browser local time.  Your time window date/time and the filter show the same times, just formatted in different timezones.

[2017-04-04 17:38] Nihanth14 opened #298 "Unable to config with DSE 5.0.7"
Hi,
We are using DSE 5.0.7 on AWS platform. DSE is installed as a package and doen't create Resources folder. I cloned the repo to /etc/dse instead.
Are there any detailed installation steps I can follow.

PS I tried https://medium.com/@carolinerg/visualizing-cassandra-solr-data-with-banana-b54bf9dd24c
doesn't seem to help

[2017-04-21 09:48] #291 closed, assigned to nobody

[2017-05-01 00:00] ankit-pm opened #300 "What D3 data visualizations are supported in Banana?"
Are all the D3JS Visualizations are supported natively in Banana?

In addition, what would you say is the difference in Banana vs Kibana in the type of visualizations available out of box?

Thanks,
Ankit

[2017-05-16 14:24] jsrfntd commented on #147
Hello @athana, I'm a developer and I'm researching on banana .I watched your conference tutorial in youtube, and I think that this is very good I have a question about that integration of D3 with banana panel. Actually i'm using banana for visualising data of some servers of my company. I developer a example with D3.js  by separate and it works, but when i try to integrate this example with a bana

[2017-05-30 05:00] ghost commented on #15
@aadel I installed latest release version of bananna 1.6.12 but when I try and get "Save failed Dashboard could not be saved to Solr". Pretty annoying.

[2017-06-05 03:14] aadel commented on #15
@fcntl my initial thoughts are banana-int collection is not configured properly, Server settings are trying to access a cross-domain instance without configuring CORS or Solr instance might not be up and running.

[2017-06-05 03:56] athana commented on #272
@fxprunayre  This map looks really cool! Currently I'm working on clean up the repo (it's been long overdue) and I will ping you again when ready. Thanks!

[2017-06-05 08:03] athana commented on #295
@jetnet @aadel @mosuka  I added the feature to save / load dashboards from another Solr server in the latest commit to `develop` branch. It will be included in the next release. Notes that we will need to enable CORS in the remote Solr server in order to allow dashboard to be saved and loaded. Instructions are here:
https://github.com/lucidworks/banana/tree/develop/resources/enable-cors

[2017-06-06 11:41] fxprunayre commented on #272
Moving to kibana, I'll not work on/support this anymore. Therefor the source code is available in Banana fork on github.

[2017-06-29 12:18] stumpdk commented on #15
This is still an issue.
I experience it with Solr 6.6 and Banana 1.6.0.

The save error happens when trying to save dashboard settings in Solr using the banana-int core.

When the core is created using the command recommended in the readme (``./solr create -c banana-int``), the schema is wrong, as the dashboard-values are saved in a strings field.

If the field is manually changed using the admin

[2017-07-24 20:39] rjelrod opened #303 "Banana-int is cleared after SOLR restart"
We have been able to make many great looking dashboards with Banana.  However, every time Solr is restarted, the saved dashboards go missing and I have to restore from file.

Does anyone have any experience with this kind of behavior?

Thanks!

[2017-07-25 09:40] aleSuglia opened #304 "Error filtering stopwords in tagcloud"
Hi there,

I am working with Banana in order to create tag cloud related to a given collection. Unfortunately, seems that the `stopwords` variable declared in the file `app/panels/tagcloud/stopWords.js` it is not visible from the file `app/panels/tagcloud/module.js`. In fact, if you choose to filter stopwords in the tag cloud, you receive an error like: `unable to execute indexOf of undefined`.

B

[2017-08-01 14:16] phanirajl opened #305 "banana is not coming up when i tried to restart DSE(Solr enabled) container."
banana is not coming up when i tried to restart DSE(Solr enabled) container.

[2017-09-01 04:56] supuntenna opened #306 "adding a pie chart to the panel"
I am new to solr and banana. I have created the module.js, module.html and the editor.html files. But when i tried to run the fie chart on the dash board it gives me an error on the chrome console saying 'pie()' is not a function.

[modulejs.txt](https://github.com/lucidworks/banana/files/1269180/modulejs.txt)
/////////////////////////////////////////////////////////////////////
module.js file////

[2017-09-16 10:14] malejpavouk opened #307 "Question: Histogram color mapping"
Hi,

we are using banana for syslog analysis. One of our graphs is a stacked histogram of severity of messages. The thing is that currently we have **err** severity colored with green :-), which is pretty misleading. Is it somehow possible to set color mapping of histogram values?

Thanks!

[2017-09-16 12:56] aadel commented on #307
Hi - Yes, you can define stacked histogram color mapping from the _Query_ panel by changing the color next to each query.

[2017-09-18 07:31] malejpavouk commented on #307
Thats not a satisfactory solution for me, I am querying by default *\**:*\** to get all the logs (for overview). Then in histogram I break down these values into logging severities using grouping feature of histogram panel.

Settings of histogram panel
![histogram-settings](https://user-images.githubusercontent.com/4127023/30532327-04c66a96-9c54-11e7-80a5-774cf2697c21.PNG)

How it looks like (curr

[2017-09-18 14:12] aadel commented on #307
@malejpavouk I see the use case. Perhaps this is an enhancement for the histogram and other panels, such as terms, as well.

[2017-09-27 16:49] vtummala01 opened #308 "Documentation to setup Banana"
I am trying to setup Banana on windows . I do not find a detailed documentation for setting up the web application. Please provide any link if you have .

Thanks

[2017-09-28 15:35] aadel commented on #308
Installation on Windows should be almost no difference from Linux if you have Solr running. The installation steps in [Readme](https://github.com/lucidworks/banana/blob/release/README.md) should work.

[2017-10-09 20:19] rajmohan2394 opened #309 "Integration of Solr with banana"
Hello, i recently installed Banana and Solr. I opened the Banana Dashboard but unable to configure and load the data. i an new to everything in banana(i tried to configure with solr server and one of my collection the data is still loading in the Histogram and table (symbol of loading is seen beside the names)) . can you please share a link  that helps for new banana users ?

[2017-10-11 16:51] rajmohan2394 commented on #308
Hello, i recently installed banana and solr. when i tried to load the data in solr to banana with Selecting solr url and collection name it is still loading .waiting for more than one hour i cant see any data on banana dashboard. should i do any other configure setting ? please help with it  and provide me any link. I attached the screenshots below.. thank you
![new time series dashboard - google

[2017-10-11 17:14] aadel commented on #308
@rajmohan2394 this could be an issue with Solr settings inside the dashboard. Please make sure that Solr is working properly, i.e. you can query from admin panel, and that "Server" settings are configured properly (top-right cog).

[2017-10-13 15:31] rajmohan2394 commented on #308
@aadel i got it. thank you for the information

[2017-10-24 10:45] RashmiSaravanan16 commented on #236
Can we combine the two collections in one dashboard ??

[2017-10-24 16:58] fpousserot commented on #236
++1

Florent,

[2017-11-12 20:55] bharath2925 commented on #306
Hi. Even I'm facing the same problem. Can you please tell me if this problem was resolved?

[2017-11-20 17:57] roccorusso opened #310 "Different visualization time"
Dear all,
I'd like to set specific time (range, interval) for each visualization, independently from global dashboard time. Furthermore I'd like to specify not only one but multiple local time ranges for a visualization. These ranges should be selectable in the UI. Select one should show the time range on this visualization (only on this one). Example for ranges: Last 24 hours, Last 7 days, Last m

[2017-11-20 18:43] aadel commented on #310
Currently, it is not supported to specify a separate time range for each panel. I would suggest creating a master dashboard and clone it for each time range.

[2017-11-21 08:42] roccorusso commented on #310
Hi,
could you help me and describe how could be do the clone of master dashboard and change for each the time range?
Regards
Rocco

[2017-11-22 11:45] aadel commented on #310
You can save master dashboard to file, copy and open each separately to update time range, edit title, etc... and then re-save.

[2017-11-29 21:06] phanipeddi2831 commented on #308
Hi,
I am facing same issue. I am able to view the collection I need in cog (dashboard settings). When I make the dashboard by selecting a bar or chart by selecting some fields from the collection, it keeps churning for long and long without fetching anything.

I am able to query the same collection from solr admin page properly without any issues.

Are there any other settings I need to change for

[2017-11-30 17:15] aadel commented on #308
Hi @phanipeddi2831 make sure that timepicker field is set to `date_starttime` and check that filters ranges return data. As long as you are able to select collection and you don't see any error messages, connection with Solr is fine.

[2017-12-05 20:55] phanipeddi2831 opened #311 "org.apache.solr.common.SolrException: undefined field: "event_timestamp""
Hi,
when I am trying to view data from Banana , it gives me the error
[code]

 . In the panel settings I dont see an option of changing the field. Moreover, I am not using that field in the bar chart and also not able to edit the query for the panel to remove that field from query.

Is it manadatory to have event_timestamp field in all collections that I want to query from Banana dashboard.

Pleas

[2017-12-05 21:25] aadel commented on #311
@phanipeddi2831 it is not required to have a timestamp field for collections. If the dashboard does not include a time range query filter or a Timepicker panel, then no timestamp field is required. I guess you are working with a collection that does not have a timestamp field, so just remove the time range query filter from `Filtering` panel. Another option you can create a Non-timeseries dashboar

[2017-12-05 21:35] phanipeddi2831 commented on #311
Thanks Aadel, creating a Non-timeseries dashboard is working fine. Thanks for prompt response.

[2017-12-05 22:18] aadel commented on #311
Cool! Closing as the issue is resolved.

[2017-12-05 22:18] #311 closed, assigned to nobody

[2018-02-20 03:26] danjaredg opened #317 "Banana not working if solr has kerberos authentication"
All Javascript request response 401 unautorized if solr has kerberos authentication

[2018-02-20 13:14] dbms commented on #15
After deploying Banana in SOLR, sometimes you can’t save your dashboards in Banana.
To enable this, you have to create a core that stores these dashboards.
All you need to do is run the following statement which will create a [banana-int] core.

On the terminal :-
${SOLR_HOME}/bin/solr create_core -c banana-int -d ../server/solr-webapp/webapp/banana/resources/banana-int-solr-5.0/conf

Then restart

[2018-03-16 16:12] kartik18 opened #318 "Reflecting changes made in Banana Dashboard?"
I'm getting issues with getting results on Banana Dashboard. I've changed the default query-  "*:*"  of the query panel to-  ' '  in their module.js file such that if I load an index on Banana, it will not give me the list of documents immediately. I've cleared the cache on the browser and also restarted the solr but that didn't work out.Is there any way we could reflect changes we have made in ba

[2018-03-16 21:52] alan89202 opened #319 "Incorrect time filter"
Hello

When I tried to filter logs using "Absolute" in timepicker is changind the day. For example if i search info 12/03/2018 it is showing information of 11/03/2018

![image](https://user-images.githubusercontent.com/37458753/37546303-33eec1a6-293a-11e8-8feb-67dd3cec6acc.png)

I understand the hour is different because here is GMT-5 but why is changing the day.

Please help.

[2018-04-04 13:24] krystiankaluzny opened #320 "Term panel with mean mode should display 0 other values"
Hi,
I created term panel with **mean** mode and I check **Other**, like this:
![term_panel_screenshow](https://user-images.githubusercontent.com/11910148/38307869-7c0d19f8-3815-11e8-9335-7fd4a11c6cd1.png)
And it looks like this:
![term_panel_view](https://user-images.githubusercontent.com/11910148/38307943-c312d5fe-3815-11e8-92d8-a954e5ff31c8.png)
I expect that **Other values** bar displays 0 valu

[2018-05-13 22:31] aroopganguly commented on #125
I am also looking for an easy way to share dashboard urls with my consumers. is there a clear way to do this now?

@athana - is there a way for me to ensure I can share this dashboard link to others if I have a static IP ? I tried and it seems the data does not show up for certain reason. perhaps due to cors or related issue, when used from a different machine on the network

[2018-05-13 23:29] aroopganguly commented on #194
@joel-bernstein, @aadel  - I would be very interested in getting parallel sql or solr streaming interface here in banana or any other front end tool to solr 7. is there any active work being done on this ?

[2018-05-18 08:50] sbarinov opened #321 "No collections There were no collections returned from Solr."
Hello,

I have an issue integrating banana with solr in embedded mode.

I've deployed and configured solr 7.3 in cloud mode and created a test collection called log-trace.
There are documents, I send them from logstash.
I am able to query it with the administrator web UI in solr (http://hostname:8983/solr/#/log-trace/query), my requests return the expected data with no errors.
I am also able to re

[2018-06-18 17:39] mrdiscot commented on #319
Have this same issue. I'm in PST -8 GMT... sometimes my time will move to a new day, if the time is within 8 hours of the next day.

[2018-07-03 10:50] CHA0S14 commented on #236
First create a alias in solr: In the collection section of the webpage click create alias, input a name and with ctrl pressed you can click on more than one collections.

Now in banana when you are configuring the collection of the dashboard, put the alias.

[2018-07-18 13:54] DDCR-FM opened #324 "How to install banana if I installed my solr through docker"
Hi,
I installed Solr in docker. It gave me error when I follow instruction to Copy banana folder to $SOLR_HOME/server/solr-webapp/webapp/.
When I do cp -R $BANANA_HOME/src ./banana, cp: cannot stat '/src': No such file or directory and that's ture. There are "CHANGES.txt  LICENSE.txt  LUCENE_CHANGES.txt  NOTICE.txt  README.txt  bin  contrib  dist  example  licenses  server" without src.

I am new

[2018-07-19 17:06] #324 closed, assigned to nobody

[2018-07-20 17:14] ifancytolearn commented on #306
I use solr/banana to integrate with my cassandra for search use case and analytics. I am trying to add a Terms(pie chart) in my banana dashboard. It seems that the pie chart loads only for cartid which is the partition key of my cassandra. If I use other index to display my pie chart, it does not load at all.

Can you please help?

[2018-07-20 17:20] ifancytolearn opened #325 "Terms(Pie Chart) not loading in Banana Dashboard"
I use solr/banana to integrate with my cassandra for search use case and analytics. I am trying to add a Terms(pie chart) in my banana dashboard. It seems that the pie chart loads only for cartid which is the partition key of my cassandra. If I use other index (e.g. location, carttype ) to display my pie chart, it does not load at all.

Attaching my solr config.

<?xml version="1.0" encoding="UTF-

[2018-07-21 01:11] bharath2925 commented on #306
Hi,

I would love to help. Can you please share the code snippet so that I can
re-run the code and check the error.

Thanks,
Bharath

On Fri, Jul 20, 2018 at 1:14 PM ifancytolearn <notifications@github.com>
wrote:

[2018-07-25 13:20] anil-kapoor opened #326 "Load Multiple Cores created in Datastax Solr"
I want to load multiple cores which are created in datastax solr.

Objective is to create various banana dashboards & provide to users on core basis.

Currently I am able to do it by changing $DSE_HOME/resources/banana/src/config.js
solr_core: "MY_OWN_CORE"

Is this possible to load multiple cores by giving list in above property?
Or what should be the best way for all Cassandra Tables/Solr Cores

[2018-07-26 19:15] yydpkm opened #327 "Sorting/export table & save dashboard not work"
Hi,
I just set up banana dashboard. Right now I face 4 issues.

1. Sorting does not work. I choose a column but nothing change. Sorting check box is checked.
2. Save dashboard failed. It gives save failed dashboard could not be saved to Solr.
3. Export table will just export all column instead of select columns. Is this a bug?
4. Web page will out of memory once exceed certain rows number(around 1

[2018-08-02 11:30] pawanpatil08 opened #328 "Banana with Zookeeper & SolrCloud"
I have ZooKeeper IP's and I want to Configure how can Configure  Zookeeper & SolrCloud with Banana dashboard.
Thanks In Advance.

[2018-08-13 12:31] anil-kapoor commented on #326
I can load multiple cores in Banana UI itself.
SO no need to give all cores from:
solr_core: "MY_OWN_CORE"

[2018-08-13 12:31] #326 closed, assigned to nobody

[2018-09-25 08:13] lcserny commented on #328
I would also want to know this.
Thanks.

[2018-11-06 12:00] Pilar20 commented on #292
Hi! Could @prabhuthil solve the problem?

[2018-11-14 03:58] baidut commented on #321
Hi, I had the same problem and I solved it by newing a dahboard, see
http://bigdatathinker.blogspot.com/2015/03/configuring-banana-with-solr.html

Also remember you need to create a new collection with the right configuration, see
https://github.com/lucidworks/banana#storing-dashboards-in-solr

[2018-11-19 02:47] syazshafei opened #330 "How to check Angular version used for Banana release?"

[2018-12-07 09:57] tonovosel opened #332 "Number format in TERMS panel"
Hi Banana team,

I have file size filed in my Solr collection and I'm displaying total file size per event in my data ingestion pipeline. Size is stored on Solr in Bytes. I wolud like to display that number on panel in MB or GB.

I'm aware of source code files for panels, module.js and module.html. Should I change that files for this case?

Also, I have multiple TERMS panel on dashboard, for TOTAL

[2018-12-07 14:42] tonovosel commented on #307
Hi all,

is there any news about this specific case? I have the same case, I would like to color errors in red on TERMS and HISTOGRAM panels.

BR,
Tom

[2019-01-26 15:50] rbheemana opened #334 "Adding countDistinct in Hits Panel"
Could we please counDistinct in Hits Panel? I can work on it if needed.

[2019-04-04 11:20] DipakRai commented on #30
@rohanganpatye @adamjlucid  Does this really work? Can you access the banana dashboard with Solr running in cloud mode as mentioned above? "put the end point of any of the collections into the server dialogue box" : what if the URL you provided in the cog of the dashboard against Solr Collections is DOWN? The Zookeeper would manage the traffic for the Solr Client internally through its configurati

[2019-04-04 11:23] DipakRai commented on #30
https://stackoverflow.com/questions/55376984/how-to-access-banana-dashboard-for-solr-while-running-solr-in-cloud-mode
Please check this Qs.

[2019-04-04 11:26] DipakRai opened #335 "How to access Banana Dashboard For Solr While Running Solr in cloud mode?"
Can you access the banana dashboard with Solr running in cloud mode as mentioned in the issue https://github.com/lucidworks/banana/issues/30? The solution by @adamjlucid says ->  "put the end point of any of the collections into the server dialogue box" : what if the URL you provided in the cog of the dashboard against Solr Collections is DOWN? The Zookeeper would manage the traffic for the Solr C

[2019-04-05 06:17] DipakRai commented on #236
Anybody found a solution to this problem?

[2019-06-19 15:25] HDeslaurier commented on #334
There was a pr for this #269 and it was listed under the release notes for 1.6.12 but it appears that it never got merged in for some reason.

[2019-06-22 14:58] haidernitc commented on #321
Is there any update on this issue?

The error is still not getting resolved after following the below mentioned two URLs

http://bigdatathinker.blogspot.com/2015/03/configuring-banana-with-solr.html
https://github.com/lucidworks/banana#storing-dashboards-in-solr

[2019-06-27 07:32] ZiggerZZ opened #341 "Docker image"
Hi,

It would be great to have a Docker image for Banana so we could use a docker-compose.yml with the official [Solr image](https://hub.docker.com/_/solr/) and the Banana image.
Are you planning to do this?

[2019-06-28 05:58] athana opened #342 "Fix double encoding issue in Filter service"
In the Map panel, if we select a country to filter on in the map, then this appears in the filtering panel in its encoded form, and for some reason this gives totally wrong count results in the Banana  dashboard. This is because the filter query got encoded twice in the Filter service.

[2019-07-30 16:23] godfrey-obinchu commented on #283
Am running into this as well. Does anyone have an update?

[2019-08-27 05:18] #342 closed, assigned to athana

[2020-01-09 09:48] #330 closed, assigned to nobody

[2020-01-31 09:57] davide-parini opened #359 "Dashboard pagination not working"
If you have more than 20 saved dashboard into banana-int, the pagination does not work properly: it is impossible to go to page 2.
Clicking on "2":
![immagine](https://user-images.githubusercontent.com/38081480/73530223-5984ca00-4418-11ea-81ba-e5da43c59d31.png)
Results in this:
![immagine](https://user-images.githubusercontent.com/38081480/73530258-686b7c80-4418-11ea-92b0-9a8864af15ac.png)

I'm us

[2020-01-31 10:05] davide-parini opened #360 "Dashboard search not helpful"
Searching for a dashboard is quite hard. As a user, i would expect a case-insensitive "like" search. If i have:
- Foo01
- FOO02
- Bar02

I would expect that typing "oo" results in:
- Foo01
- FOO01
This seems not the case, as i need to manually type a query on a banana-int field:
![immagine](https://user-images.githubusercontent.com/38081480/73530635-2f7fd780-4419-11ea-8c9a-03ca32284c9b.png)
Could

[2020-01-31 10:31] davide-parini commented on #359
The issue seems to be here. The "slice" is redundant, the list already contains only paginated elements. For instance, if you go to page 2 and have 25 elements, the list already contains only the last 5 items: slicing it from 20 to 40 is wrong.
![immagine](https://user-images.githubusercontent.com/38081480/73532534-298bf580-441d-11ea-86c7-a668afe23cb2.png)

[2020-03-15 07:59] buchnick7 opened #361 "IS THIS PROJECT STILL LIVE?!"
keep getting CSP error when trying to reach banana dashboard until I cancel CSP brutally, that seems to be bad practice.. is anyone still use it? if so, what is your setup? lastest solr? cloud or standalone? how do you handle CSP?
@athana seems like you were here last:) any idea?
cheers

[2020-03-15 12:25] aadel commented on #361
An example deployment consists of a single node SolrCloud, Banana, and maybe other frameworks, Docker pod. Another example is a JAR deployment inside Solr. As for CSP please provide more details about the environment, i.e. browser, Solr, OS, ... versions and the deployment details so we can help resolve the issue. No need for CAPS :)

[2020-04-30 22:36] EkaX opened #366 "Error while loading html dashboard"
Hi when I accessed **http://localhost:8983/solr/banana/src/index.html** that only came out on a white screen or had a solution to install banana dashboard on Solr 8.5?

Thanks

[2020-05-05 08:12] aadel commented on #366
This [PR](https://github.com/lucidworks/banana/pull/367) addresses CSP script requirements introduced in Solr 8.4 and fixes this issue.

[2020-05-27 15:22] muchivolu opened #368 "Unable to add Graph Panel to Dashboard (Banana v1.7.0)"
Hi,

Unable to add Graph Panel to Dashboard (Banana v1.7.0), "Add Panel" button is disabled.

[2020-05-27 16:14] aadel commented on #368
Could you use the template below to add details about the issue:

**Description**
A clear and concise description of what the issue is.

**Regeneration**
Steps to regenerate the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to he

[2020-05-27 18:24] muchivolu commented on #368
Please find the environment details below :
OS : Mac OS Catalina 10.15.4
Browser : Chrome Version 81.0
Solr : 8.0.0
Banana : 1.7.0

Navigation on Banana :  Click New --> Non-Time Series Dashboard
                                        Given collection name: Products --> Click on Create
                                        Add Panel --> select Panel : graph

I have provided the required details

[2020-05-27 21:12] aadel commented on #368
A possibility that could case this issue is loading the graph module didn't complete properly. Are there any errors that appear in the browser console after opening the modal?

[2020-06-03 21:35] vidyuthmk opened #370 "No able to load the dashboard due to angular.js:5930 EvalError"
EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".
at 5930 line code "return logFn.apply(console, args);"

[2020-06-07 13:48] vidyuthmk commented on #370
I got this issue , it is due to CSP violation .

[2020-06-30 13:39] norbwww commented on #370
Has anyone been to get to the bottom of this?
Thanks

[2020-06-30 13:41] vidyuthmk commented on #370
The issue was due to a violation of CSP content security policies of the web Browsers. you need to BYPASS CSP of the browser to avoid these issues

[2020-06-30 13:43] #370 closed, assigned to nobody

[2020-07-16 15:50] EkaX commented on #366
Hi Thanks aadel my problem is solved but the problem is still same
i try bypass the CSP with a plugin in google chrome https://chrome.google.com/webstore/detail/disable-content-security/ieelmcmcagommplceebfedjlakkhpden

[2020-07-26 19:54] abhijitsahay commented on #98
@majidkabir  - will your approach work with token-based authentication as well?

[2020-07-29 16:50] tloubrieu-jpl opened #372 "Banana with solr 8.X"
Hello,

I am wondering if there are any plan to make banana work with solr 8.X ?
Would there be an alternative to banana for having a flexible dashboard to explore solr database ?

What is the complementarity with Silk ?

Thank you very much,

Thomas

[2020-08-25 13:18] #368 closed, assigned to nobody

[2020-09-17 00:20] jason-missiontech commented on #366
We are having the same issue with Solr 8.6.2, even with those changes.

[2020-12-17 18:58] uyilmaz commented on #361
Hi, I'm getting the CSP error with following environment: Solr 8.4.0, Banana: Latest (b3ff48d), Browser: Yandex 20.11.2.78 (uses the latest chromium as of now).

I'm using Option 1 for installation, just copied src folder into webapp folder of Solr installation. Error is at the index page on line 20:

`    <script>require(['app'], function () {})</script>
`

`Refused to execute inline script becau

[2020-12-20 14:18] aadel commented on #361
@uyilmaz PR #367 should resolve that issue.

[2021-01-13 14:20] leyafo commented on #361
Oh, no. 8.7 still have the problem.

[2021-02-15 05:14] Fractal2017 commented on #366
I found that it works for IE 10
![image](https://user-images.githubusercontent.com/29259883/107907810-aa336c00-6f22-11eb-817a-1d7262541507.png)

[2021-03-12 13:19] kenghoon commented on #366
Right. Tested on Solr 8.8.1. It works on IE 10 (Win 10) using the original banana .zip from https://github.com/lucidworks/banana.
Chrome, Mozilla and Edge display blank.

[2021-03-13 10:12] kenghoon commented on #372
It works with Solr 8.8.1 using IE10 browser.

[2021-05-25 13:36] minesh-melvin commented on #372
It would be great if Banana on Solr 8.x can work with Chrome, Firefox and Edge.
Do consider adding it to the future roadmap.

[2021-05-25 13:43] minesh-melvin commented on #366
Had the same problem with 8.8.2

[2022-07-22 04:00] #328 closed, assigned to nobody